[2017-11-19 21:02] Smurf-IV opened #4 "Mouse click on Text box does not allways work"
Using Nuget 47E.
Used to work consistently, but seems to not always fire now (i.e. will work once but never again, or not at all)

[2017-11-19 21:03] Smurf-IV commented on #4
This worked in Krypton 4.5, must be something that has been optimised out for it to "Not always" fire.

Temporary workaround is to attach the click event to the "Internal" Winform TextBox.

[2017-11-20 08:31] Wagnerp commented on #4
Hi @Smurf-IV

Maybe it was a change when re-targeting the frameworks. Is the problem just with the KryptonTextBox control? May need to 'reset' just that control back to version 4.4.5.

[2017-11-20 08:49] Smurf-IV commented on #4
No idea, Have not been able to spend time trying to work out what has changed yet, as it might also affect other controls' events as well :-!

[2017-11-20 15:26] Wagnerp commented on #4
I've put the file through WinMerge, and couldn't find anything glaring. I've reinstated the 47D package, so at least users should have a working toolkit.

[2018-01-06 18:17] Smurf-IV commented on #4
Found that the following controls never had routing for the "OnClick" method to work, so it must have been a fluke that during initial testing they appeared to work via the default message pumping.

Fix "OnClick" routing for
  - ListBox
  - CheckedListBox
  - TextBox
  - TreeView

New Delivarable incoming once I get Git working correctly...

[2018-01-06 18:17] #4 closed

[2018-01-09 17:30] Smurf-IV opened #7 "Versioning for installers"
Hi,
Due to the way installers work, the first three numbers in the "AssemblyVersion" (etc) need to be higher than the previous triplet.
i.e. 1.2.3.### > 1.2.2 for the new version to be placed.

So, Can these Dll's be versioned in this way ?

e.g. 4.7**0**.++build.0  for .Net 4.7
and 4.7**1**.++build.0 for .Net 4.7.1

I can do this if you want ? So that the designers get picked up correctly as well

[2018-01-09 18:01] Wagnerp commented on #7
Yes that's fine. I could put the versioning as 4.xx.* if that works better. Of course each time you build the solution, you would get a random number i.e 4.70.2698.3658 or 4.71.8955.4548. I don't know how this would affect control classes, as these seem to be hardcoded.

As for Nuget packages, it doesn't seem to like me altering circulating packages, hence the reason for strange iterations. This i

[2018-01-09 18:07] Smurf-IV commented on #7
No need for the *
I use the "[Automatic Versions](https://marketplace.visualstudio.com/items?itemName=PrecisionInfinity.AutomaticVersions)" Extension on my other projects to give a controlled release number
of YY.MM.Build.Day, and this can be altered to use a different pattern per solution/project (i.e. 4.70.Build.0)
It can be set to only increment on demand as well. so just before a delivery or s

[2018-01-09 18:23] Wagnerp commented on #7
Ok, go ahead. I will try to see what is happening with Nuget. My main concern is that uploading new/retiring old code is constantly breaking users projects. Nuget must have a way of refreshing 'live' packages on the fly. You should see my packages list on Nuget, it's quite messy!

[2018-01-09 19:04] Smurf-IV commented on #7
After a little frustration, it appears that the Designer attribute needs a **Fully** qualified name string.
This includes the proper version. - Damn.
BUT, as the designer is not shipped... then it does **not** _need_ to have an increasing build number :-)

So I'll do the Versioning in the Releasable (read _Installable_) Dll's and leave the designer strings alone (Once changed to 4.70.0.0)

OK ?

A

[2018-01-09 19:13] Wagnerp commented on #7
I could do a mass find/replace for class version numbers. This would mean that the proper version would be 4.70.0.0 for controls there is about 1,100+ entries, but won't take too long on my i7 PC.

Still looking into the packaging issue. I may stick to the a, b, c etc sequence.

[2018-01-09 19:23] Smurf-IV commented on #7
Done, you'll have to set perform the replace of 4.70 on the 4.7.1 branch that you have.

[2018-01-09 19:25] Smurf-IV commented on #7
The versioning settings have gone into the **csproj** files, so they should be consistent.

[2018-01-09 19:28] Smurf-IV commented on #7
Note: I did not replace the Header values, as that still has comments about
__© Component Factory Pty Ltd 2018__
Perhaps it could be extended to include yours and my names  and include your github project url at the end ?

[2018-01-09 19:30] Smurf-IV commented on #7
Also shouldn't the
**© blah blah**
have range and not the latest. i.e. 2010-2018

[2018-01-10 07:43] Wagnerp commented on #7
Will do, do you want your real name in that field? I do always ensure to give you credit within the nuget package, but I can add your name to the Author field as well.

[2018-01-10 08:21] Smurf-IV commented on #7
Real Name, Yes that'll be fine. I use the following in my code headers:
`//  Copyright (C) 2010-2018 Simon Coghlan (Aka Smurf-IV)`

[2018-01-10 08:35] Wagnerp commented on #7
I'm uploading a new commit to master, feel free to change anything if necessary. My rule is be bold to change anything, but it has to be stable enough for other users to use.

[2018-01-10 17:02] Smurf-IV commented on #7
Thanks

[2018-01-10 17:02] #7 closed

[2018-01-11 18:28] Smurf-IV opened #9 "KryptonForm to have a DropShadow designer boolean"
Thoughts on extending `KryptonForm `to have an option (default to true) for displaying drop shadow ?

Implementing code from https://github.com/Cocotteseb/Krypton/issues/1
via a designer attribute.

[2018-01-11 19:25] Wagnerp commented on #9
Yes sure, as the original toolkit was designed for Vista & 7. A while ago, I was thinking about creating a Visual Studio extension to allow users to create a new KryptonForm via the new item dialog box, what are your thoughts on it? With the proposed code, would that be a bool value?

[2018-01-11 19:49] Wagnerp commented on #9
Sorry I can't merge your latest commit, please see my comment I've posted on the thread. My fault :(

[2018-01-11 21:18] Smurf-IV commented on #9
The bool will state if DropShadow is on via the designer properties
e.g. `Use DropShadow | true`

[2018-01-12 08:49] Wagnerp commented on #9
Ok, I've uploaded some new code. It may not be efficient, but I've included a new property called 'UseDropShadow' with a default value of true, along with a new method called 'UpdateDropShadowDraw()' which accepts a bool value in a new region labelled 'Drop Shadow Methods'.

[2018-01-12 17:43] Smurf-IV commented on #9
FYI:
When opening an existing project, the default value of `UseDropShadow `is `False`
Setting it to `True`, does not enable the drop shadow ?
This is in a "Child Form" and not the Main form.

[2018-01-12 18:14] Wagnerp commented on #9
The code is in the 'KryptonForm' class I thought that I had set the default value of the property to true. Might also be an incorrect signature type for  'UpdateDropShadowDraw()'. Might need to be CreateParams instead of void.

[2018-01-12 18:39] Wagnerp commented on #9
As a note, I have reached out to @Cocotteseb about the screen clipping issue, as I can't find the _drawIndicator variable that they used.

[2018-01-14 21:27] Smurf-IV commented on #9
Still not working by default (i.e. no variable set) . Picture shows Parent underneath set by explicit code, Child form over the top that supposed to Auto set but is showing it is not.
![image](https://user-images.githubusercontent.com/2418812/34920860-99218dd6-f971-11e7-9eda-409d972bc210.png)
This is from your latest code set.

[2018-01-15 09:54] Wagnerp commented on #9
Where would the child form code come from I wonder? If I know that, then it should be a quick fix! Does it work on the parent form?

[2018-01-15 17:01] Smurf-IV commented on #9
My Elucidate project https://github.com/Smurf-IV/Elucidate/blob/master/Elucidate/Elucidate/Elucidate.cs
Line 75 then initiates the form via line 109.
My Code does not rely on the Parent "Main" Form doing the work via Krypton, as that is already in the code - (That's what I want to remove it from mine and use code with Krypton.).
In My checked out code -> they are both derived from `KryptonForm`, h

[2018-01-15 17:16] Smurf-IV commented on #9
In the following code:

![image](https://user-images.githubusercontent.com/2418812/34954255-a89abb1a-fa17-11e7-8507-47235b05501d.png)

What does line 1605 do to the creation parameters ?

[2018-01-15 18:09] Wagnerp commented on #9
That's a Q & D call to  the method which deals with the shadow which starts on line 1609. The GetCreateParams method draws the shadow. I should have called the method 'DrawShadow' to make more sense. Will change it after I've merged your pull request. I will take a look at the MdiForm issue tomorrow, thanks for the heads-up.

[2018-01-20 10:20] Smurf-IV commented on #9
What I tried to say, is that the `createParams` is a local copy and you then return it from the `DrawShadow` function, **but** nothing uses it. Hence why in my Win 8.1 test environment, where you have to turn on shadows per app, via the app, the code does not work.  Win 10 has "Some" shadowing on by default for all apps.

[2018-01-20 14:41] Smurf-IV opened #13 "In the readme, please reference the nuget package - And fix nuget versioning."
Also, the nuget should have the version number in the build,
and the previous version should be kept

See the following page as an example "https://www.nuget.org/packages/NLog/"

This allows previous solutions that reference a particular version to keep compiling etc.

[2018-01-20 15:08] Wagnerp commented on #9
Uhmm.. that's odd, I wonder if it has something to do with it being converted into a method, as the original code was a typical 'getter/setter' code block?

[2018-01-20 15:11] Wagnerp commented on #13
I haven't updated the nuget package yet, but I will do later today.

[2018-01-20 16:07] Wagnerp commented on #13
I have uploaded a new package with the correct versioning.  See the readme for details.

[2018-01-20 16:16] Wagnerp commented on #9
I could set the shadow to on by default, though you wouldn't be able to turn it off until I can find a way to make sense. An idea, could the property CreateParams be returned in the DrawShadow method? i.e

`protected override CreateParams CreateParams

            get
            {
                // add the drop shadow flag for automatically drawing
                // a drop shadow around the for

[2018-01-20 21:45] Smurf-IV commented on #13
Just need to keep the "Old versions" so that other peoples "Old solutions" not updated, can still perform a Nuget Get refresh when the IDE opens.

[2018-01-21 07:28] Wagnerp commented on #13
That can be done, all I need to do is to replace the binaries & increment the version number.

[2018-01-22 09:06] Endimion75 opened #14 "Textbox MouseLeave and MouseEnter seem linked"
The mouseLeave and mouseEnter events seems to be linked.

When you enter the textbox it fires both enter and leave events.
When you leave the textbox it fires both enter and leave events.

[2018-01-22 11:29] Wagnerp commented on #14
Hi @Endimion75,

Thanks for reporting the issue. This is a known issue where there is a routing problem. Will look into it, can you tell me what version of assembly that you are using?

[2018-01-22 12:18] Endimion75 commented on #14
Hi,

   I am using:
   name: ComponentFactory.Krypton.Toolkit
   runtime version: v4.0.30319
   version: 4.7.0.0

   I used the nuget package : KryptonSuite47e

   Is this what you asked?

[2018-01-22 16:01] Wagnerp commented on #14
Hi @Endimion75,

There is an updated revision here [KryptonToolkitSuite47](https://www.nuget.org/packages/KryptonToolkitSuite47/) with the version of 4.70.522. It may be because you're using a old version. Had a look at the latest code, and nothing seemed to be wrong.

[2018-01-23 07:42] Endimion75 commented on #14
Hi,

I tried to install the suggested version:

Install-Package KryptonToolkitSuite47 -Version 4.70.522

and I get the following error:

Severity	Code	Description	Project	File	Line	Suppression State
Error		Could not install package 'KryptonToolkitSuite47 4.70.522'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7', but the package does not contain any

[2018-01-23 07:56] Wagnerp commented on #14
Hi,

Yes, I have run into this issue before, have you got any of the older versions with the 'RegisterToGAC.bat' file? If not, I can upload the associated binaries and files to this repo for download. That suppression bug was meant to be fixed a few versions back, but it seems to have been reintroduced somehow.

[2018-01-23 08:15] Endimion75 commented on #14
I want to say that I greatly appreciate the time you are taking by helping me, thank you very much.

I have found  the 'RegisterToGAC.bat' in one my my earlier downloads of the Krypton Suit.  Just to be sure I understand, you recommend to get the bins from the project source and register them in the GAC, correct?

[2018-01-23 08:27] Smurf-IV commented on #14
FYI: I do not use GAC registration in any of my PC's for the use of the Krypton DLL's
It makes up and downgrading easier, and also when developing against new builds I just use the direct reference in the projects.
The Only downside to this, is that i have to Drag and drop the Toolkit (etc) into the IDE Toolbox each time, and the Designer dll needs to be in the references.

[2018-01-23 08:31] Smurf-IV opened #15 "Need a Releases (released) tab in the GitHub Project"
Can you add a "Releases" tab to the GitHub project, then these Pre-Release, and releases can show up correctly.
Thanks

[2018-01-23 08:33] Wagnerp commented on #14
Hi @Smurf-IV,

There is an issue in version 4.70.522 whereby you can't drag & drop items to the form, as they all dock to the bottom where a timer would be.

[2018-01-23 08:42] Wagnerp commented on #14
Hi @Endimion75,

I'm going to upload a older version '4.7.0.0' which is known to work, compiled on 11th November 2017, but may need to 'manually' alter the version number to fool Nuget into uploading it. In other words, you may see a version tag of '4.70.523' when it's really '4.7.0.0'.

[2018-01-23 08:47] Wagnerp commented on #15
Yep, done it. I may need to reupload a older more stable release to Nuget, as there seem to be issues with build 522.

[2018-01-23 08:47] Endimion75 commented on #14
Thank you very much for your help

[2018-01-23 08:49] Wagnerp commented on #14
You should now see it in the releases tab of the repo.

[2018-01-23 17:38] #15 closed

[2018-01-23 17:40] Smurf-IV commented on #14
@Wagnerp.
That would be because of the change to the Design version I warned you about in the submit..
It is a hard coded string in all of the Toolbox designer references.
Set it back to 4.70.0.0 and it will be fine.

[2018-01-24 07:22] Wagnerp commented on #14
@Smurf-IV,

Ahh, thanks, will see to it straight away. Is it only for the toolbox items?

[2018-01-24 08:22] Smurf-IV commented on #14
@Wagnerp,
The designer dll is only used for the IDE. To allow it to perform Form layout etc.
Does not affect the actual runtime operation for the target application.

@Endimion75,
So, if the mouseleave stuff is triggering without a breakpoint or a messagebox getting in the way, then that may be in the ToolKit dll code somewhere, or some function that is forcing it to exit within the "Usage" applic

[2018-01-24 08:29] Endimion75 commented on #14
I tried to follow the code of the textbox leave event.  As far as I can understand, the control uses a mouse over function to determine if it is a leave or an enter and then invokes the corresponding event, but for some reason the mouse leave events gets triggered independently of that logic.

I notice that the windows sends a message with the leave code when it should be an enter code, but I am n

[2018-01-24 08:38] Wagnerp commented on #14
@Smurf-IV

Ok, I'll run some tests today. The changes will be held in the stable branch with assemblies set to 4.70.0.0. Will reset the master ASAP.

[2018-01-24 08:38] Endimion75 commented on #14
I must add that I am debugging the source from Krypton-NET-4.7.1-master on the toolkit 2015 project

[2018-01-24 09:22] Wagnerp commented on #14
Hi @Smurf-IV

When you refer to the Designer dll, are you referring to ComponentFactory.Krypton.Design.dll? Apologies for the confusion.

[2018-01-24 16:57] Smurf-IV commented on #14
@Wagnerp
Correct.

[2018-01-24 17:22] Smurf-IV commented on #14
@Endimion75
I did the following and can concur that on mouse enter, both message events fire on mouse enter without the loss of focus !!!.....

        private void kryptonTextBox2_MouseEnter(object sender, EventArgs e)
        {
            kryptonListBox1.Items.Add("MouseEnter");
        }
        private void kryptonTextBox2_MouseLeave(object sender, EventArgs e)
        {
            kryptonLi

[2018-01-24 18:09] Wagnerp commented on #14
@Smurf-IV

Thanks for clarifying, I've fixed it on both the .NET 4.7 and 4.7.1 repos. Automatic versions should no longer interfere with the file version of the designer dll, whilst still incrementing the versions. I've also added a big bold note to the readme saying that the designer dll must be referenced in order for the toolkit to work properly.

[2018-01-24 18:59] Smurf-IV commented on #14
@Endimion75
I have worked it out, bare with me..

The default MouseEnter and Mouse leaves are used by the Toolkit to draw the borders etc around the controls. The design does not know this and allows anyone to attach to those events.
AS you may know, the toolkit warps the internal controls to allow default WinForms to work (In this case a normal textbox). In order for you as a code user within Win

[2018-01-24 19:15] Wagnerp commented on #14
@Smurf-IV

If I'm correct, if those are event handlers within the code, then it should be possible to alter the descriptions to make more sense.

[2018-01-24 21:16] Smurf-IV commented on #14
They are, and they are within the help, Just not visible in the events from within the designer !!

[2018-01-25 07:15] Endimion75 commented on #14
I understand, It makes sense to me now!

Thank you so much for the clarification and the time you put into this issue.  I really appreciate it.

[2018-01-26 18:18] Smurf-IV commented on #13
I can see the latest and the the last version.. Yay..
Now, what does 1801b mean ?

===========================================================

[2018-01-26 19:00] Wagnerp commented on #13
1801b Means a minor version. Next release might be on Sunday with the tag 1801c. It's similar to Win 10 versions. I still can't figure out why the 'UseDropShadow' property does not default to 'true' when I specified the default value to true in the code.

Also, do you know a way to edit '.mshc' files, as I've noticed that some assets in the help file refer to Windows XP and VS 2005,  so I was wond

[2018-01-26 20:03] Smurf-IV commented on #13
I use mht format via Word (MHTML), its the easiest and still allows pictures to be embedded and all browsers support it (Even the built in WebBrowser WinForm control)
So where-ever you got the mshc from..... try and get the source
or
convert the original chm to mht (Plenty of online convertors - That's If you have 2007 or later MS Word to use!)

[2018-01-26 20:07] Smurf-IV commented on #13
As for the help, It would be nice if the different dll's had different files, and also remove that dotfusticator rubbish from it as well [Check the global namespac(s) in the references section]!

[2018-01-26 20:10] #13 closed

[2018-01-26 20:11] Smurf-IV opened #17 "Make the Help relevant to the Actual Code"
It would be nice if the different dll's had different files, and also remove that dotfusticator rubbish from the current chm as well [Check the global namespac(s) in the references section]!

I can do this if you want ?

[2018-01-27 07:41] Wagnerp commented on #17
If you can, that'll be a great help thanks. Been spending hours trying to find a way to update the help files with no progress.

[2018-01-27 07:48] Wagnerp commented on #17
You may notice that I uploaded both the .cab and .mshc files. These were the original files posted on the original repo back in 2016.

[2018-01-27 08:18] Smurf-IV commented on #17
`mshc` is a zipped format file.
Rename the one uploaded, expand and this just contains a `js` file. The `cab` is supposed to contain the source images etc. As both of these are only 5KB, then you can safely delete them as they are effectively empty !

I'll See what I can do with the `chm` and `chw` files, Assign this to me (And set labels etc) and I'll get on with it in my spare moments..

[2018-01-27 08:34] Wagnerp commented on #17
Ahh, ok then. I'll make backup copies just in case. At the moment though, I'm just resolving some conflicts with the code.

[2018-01-27 10:15] Wagnerp commented on #17
I may have decompiled the .chm file. Will upload directories shortly.

[2018-01-27 10:30] Wagnerp commented on #17
@Smurf-IV

I've somehow managed to 'crack' open the CHM file. I'll upload a new zip file to the Help directory containing its contents.

[2018-01-27 14:44] Smurf-IV commented on #17
I've already done, but it would be useful to have it archived off independently..
Thanks for assigning.. Looks like I've got to perform some "real actions" now :-)

As for aesthetics... what should "we" put in the header and footer elements of each page ?
re:
![image](https://user-images.githubusercontent.com/2418812/35472938-4c538de8-0370-11e8-8cce-b1d1009c69c0.png)
and
![image](https://user-imag

[2018-01-27 15:49] Wagnerp commented on #17
It maybe an upload of a new directory. Got 52,000+ files to push.

[2018-01-27 17:08] Smurf-IV commented on #17
The number of files sounds about right (lot's of rubbish from the Dotfusctication and Sandcastle I summize)
![image](https://user-images.githubusercontent.com/2418812/35474326-a9c53c74-0384-11e8-95b5-a4e713ef4e5b.png)
The picture also includes the orginal files, so ignore the size !

I'l be putting in place another way of extracting the class diagrams etc, that the sandcastle build used to use.
Bu

[2018-01-27 17:16] Wagnerp commented on #17
Yes, as the other way to extract it is to use 7zip. I  got the archive down from 850+ MB down to about 10 - 20 MB.

[2018-01-28 07:36] Wagnerp opened #19 "Integration of Krypton-OutlookGrid into toolkit"
I have requested permission of @Cocotteseb to incorporate their project [Krypton-OutlookGrid
](https://github.com/Cocotteseb/Krypton-OutlookGrid) into this toolkit for .NET versions 4.6.2, 4.7 & 4.71. Awaiting response.

[2018-02-01 18:11] Smurf-IV commented on #17
Ok, I have been fighting MHT, html, NDocs, and DocFX they all seem to come out at large file sizes (50MB++).
Currently DocFX is winning due ot the ability to create the API documentation AND also have MarkDown files for introdoctions.; But NDocs is in the process of being "Fixed" with Bug reports from me...

[2018-02-01 18:18] Smurf-IV opened #20 "Create a ToolkitExt project"
I want to start a project that is based on the Toolkit, but extends it's functionality to other common usages.
e.g.
- Better Help handler (Not sure what or how to do this one yet !)
- Command Button: ![image](https://user-images.githubusercontent.com/2418812/35695099-6bdd589c-077b-11e8-9248-2f29beafda42.png)
- Timed Message Box
- Bigger Font MessageBox
- Other MessageBox Extensions:  ![image](http

[2018-02-02 08:37] Wagnerp commented on #20
Hi @Smurf-IV,

Yes, that sounds great. I was going to integrate the Krypton Outlook Grid into this repo, but it might be suitable for a new extended controls repo? Also maybe a new 'Office 2016' palette? I will create a new repo named Krypton Toolkit Suite Extended for this.

[2018-02-02 08:42] Wagnerp commented on #17
Ok, the files I did manage to extract came out as nearly 30,000 HTML files, which were far too many to edit.

[2018-02-02 08:52] Wagnerp commented on #20
Hi @Smurf-IV,

Just to let you know that I've created a new repo located here [Krypton-Toolkit-Suite-Extended-NET-4.7](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.7). Will upload a shell project later today.

[2018-02-03 09:04] #20 closed

[2018-02-03 17:07] Wagnerp commented on #19
Merged with extended toolkit

[2018-02-03 18:17] Cocotteseb commented on #19
Sorry for not answering before.
I'm OK with the integration (it is under MS-PL license). A link to the original project would be great!

If you modify/add features it could be great to synchronize and vice-versa. (I think on github it does work with pull request right ?)

[2018-02-04 07:30] Wagnerp commented on #19
Hi @Cocotteseb,

Many thanks for replying, I'm going to integrate it into the extended toolkit project. While that project is on a GPL 3.0 license, I have kept the original MS-PL license for the Krypton Outlook grid portion of it. If you wish to follow/contribute towards it, please see [Krypton-Toolkit-Suite-Extended-NET-4.7](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.7).

[2018-02-04 08:09] Smurf-IV opened #21 "Current license needs to be in the Root on Github project(s)"
Please ensure license is shown in the root so that GitHub can expand it
e.g. https://github.com/ComponentFactory/Krypton/blob/master/LICENSE
![image](https://user-images.githubusercontent.com/2418812/35775555-a73b5b06-0982-11e8-9b00-07aab14ff7f3.png)

**And** make it use-able for "All" projects.
i.e. **not** copy-left style like _GPL_
more like _BSD 3-Clause_ or open

[2018-02-04 09:43] Smurf-IV commented on #17
Current progress (What do you think about the logo ?)
![image](https://user-images.githubusercontent.com/2418812/35776180-c8494dfa-098f-11e8-9a59-2a0b303897b0.png)

[2018-02-04 12:16] Wagnerp commented on #17
Looks good!

[2018-02-04 12:24] Wagnerp commented on #21
Put BSD 3-Clause in

[2018-02-04 22:06] Abdulmoneim opened #22 "RTL Support"
Hello

This Tools **Not Support** Right To Left Layout Window Form.

[2018-02-05 16:53] Smurf-IV commented on #21
Thank you, I can now work on the extended stuff..

[2018-02-05 16:53] #21 closed

[2018-02-05 18:20] Wagnerp commented on #21
I've started laying down some base code.

[2018-02-09 08:16] NintendoPlayer opened #23 "NullReferenceException with Target in PaletteRedirectDouble"
Hi!

I've been using the Krytpon Components from https://github.com/ComponentFactory/Krypton.  Recently I switched over your fork because of implementation of KryptonOutlookGrid.  Now my code throws some NullReferenceException when I right click any cell of my KryptonDataGridView control.

Whenever I clicked one cell, I got a ContextMenu with some options.  But now I get this:
![null](https://user

[2018-02-09 16:02] Wagnerp commented on #23
Hi @NintendoPlayer.

Thanks for posting your question. I can tell you that the KOG was never fully implemented into this kit. Instead both I and @Smurf-IV agreed that a new extended toolkit repo was needed. Whilst in early stages at the moment, the KOG code is complete. You can find the repo over [here](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-4.7).

I hope this helps.

[2018-02-09 16:40] NintendoPlayer commented on #23
The thing is that this problem also arises whenever I right click any cell on my kryptonDataGridView.

I updated my project with the extended toolkit, and it's giving me the same issue.  I don't think is something related to KOG, because the standard DGV is giving the same issue.

I thingk that is something related to ContextMenus.  This is the stacktrace:

`   en ComponentFactory.Krypton.Toolkit.

[2018-02-09 16:57] Wagnerp commented on #23
Are you using a standard system context menu strip, or a Krypton context menu?

[2018-02-09 17:01] NintendoPlayer commented on #23
a Krytpon Context Menu

[2018-02-09 17:14] Wagnerp commented on #23
Ahh there lies the issue. Use a normal context menu strip, I've just tested it and it works without issue. You will still get the krypton render as well. Not sure why a Krytpon Context Menu was part of the original toolkit, as I never used it.

[2018-02-09 17:26] NintendoPlayer commented on #23
Ok, I will try it.  But when I right click the OutlookGridGroupBox the same error gets fired, and I don't even have a normal context menu show in the click event.

[2018-02-09 17:30] Wagnerp commented on #23
Odd, is there a way that you can trace back in your code to see where it's breaking?

[2018-02-09 17:35] Wagnerp commented on #22
Hi @Abdulmoneim

Will look into it for you. Is it just the form or other controls as well?

[2018-02-10 13:42] Smurf-IV commented on #23
The Demo App `KryptonContextMenu Examples` falls over as well.
I'll look into it.

[2018-02-11 14:12] Smurf-IV opened #27 "Office 2003 and System themes should still display the Form ExtText"
Office blue: ![image](https://user-images.githubusercontent.com/2418812/36074251-7e7dd74e-0f35-11e8-8f90-3f0e599cbada.png)

Office 2003 or System: ![image](https://user-images.githubusercontent.com/2418812/36074261-92e4ef7e-0f35-11e8-9f18-808828bb8e93.png)

[2018-02-11 14:14] Smurf-IV commented on #27
Could be as simple as Appending the "ExtraText"
and then removing it again if the the theme changes (Edge cases would have to deal with the text being changed when in those themes).
Or as complicated, as "Just fix it"

[2018-02-16 17:34] Wagnerp commented on #23
Been fixed in build 553

[2018-02-19 09:33] #23 closed

[2018-02-19 09:34] #14 closed

[2018-02-20 11:32] Wagnerp opened #28 "Building for 64-bit"
See: https://blogs.msdn.microsoft.com/tolong/2007/03/20/use-visual-studio-to-build-64-bit-application/ and https://msdn.microsoft.com/en-us/library/ms185328.aspx

[2018-02-20 17:25] Smurf-IV opened #29 "When Displaying a MessageBox this can happen !"
[code]

[2018-02-20 17:25] Smurf-IV commented on #29
I suspect it has something to do with the `this` being passed in for the owner being null But I am unsure.

[2018-02-20 18:53] Wagnerp commented on #29
May need a try/catch statement in the `KryptonMessageBox` code to prevent nullable failovers. Is this happening since I've restructured the `source` folder?

[2018-02-25 08:56] Smurf-IV commented on #28
Why?
`ANY CPU` allows the hosting process to determine the "Bitness", just set `Prefer 32Bit` to false in the project properties - to allow the compiler to hint for x64 in the AnyCPU JIT

[2018-02-25 10:22] Wagnerp commented on #28
So if anyone needs just the x32 or x64 versions they are there. The 'Fat Binary' `Any CPU` version is still in the `source` folder, and will not be removed. On another note, I'm just completing the UAC shield controls in the extended toolkit. Will upload code shortly.

[2018-02-28 17:08] Smurf-IV commented on #28
Ermm.. Not sure "Fat binary" is right..
Build 524 zip = 1.92MB, Latest x64 also = 1.92MB.
Am I missing something ?

[2018-02-28 18:41] Wagnerp commented on #28
Does a `Any CPU` dll or executable change it's architecture depending on the CPU, as I always thought that it was always 32-bit only? On another note, I have successfully got the UAC prompt working for certain controls in the Extended Toolkit. I need to fix the `KryptonCueTextBox` and the `KryptonMostRecentlyUsedFileMenuItem`.

[2018-03-02 08:46] Smurf-IV commented on #28
Yes and No.
I'll try to explain "My understanding" of this.
DLL's should be "Any CPU", as this allows the hosting process to determine the bitness they will be running in. Then the JIT does it job as required.
For Exe's it is a bit more complicated. In the Project properties there is an option to set the "Preferred" target bitness, if the current build is "Any CPU", then there are the direct optio

[2018-03-02 19:13] Wagnerp commented on #28
Thanks for the explanation, you can ignore the x86 and x64 if you want. I have altered how each solution builds though, so they have named folders, instead of having one big mess of an output directory.

[2018-03-04 09:17] Smurf-IV opened #31 "Request: Can we have retro theme(s) ?"
See the themes at the following:
https://github.com/AlexanderSharykin/RetroUI

This is a bit of fun and low priority, but might find use for Tablet style apps (i.e. low resolution)

[2018-03-04 16:06] Wagnerp commented on #31
Might be possible to do. Is there any documentation for the palette designer, as I have no clue how to use it?

[2018-03-14 10:09] r3ndszergazda opened #32 "Can't install via nuget"
Could not install package 'KryptonToolkitSuite471 4.71.554'. You are trying to install this package into a project that targets '.NETFramework,Version=v4.7.1', but the package does not contain any assembly references or content files that are compatible with that framework. For more information, contact the package author.

Although the Project I'm trying to install it to is also .NET 4.7.1

[2018-03-14 18:28] Wagnerp commented on #32
Hi @r3ndszergazda,

Thanks for your message. I've deliberately stopped uploading Nuget packages, due to this error. I did try to reach out to the Nuget team to see how I can resolve the issue. Unfortunately, I received no response. In the end, I chose to upload the binaries to the releases tab of this repo. Sorry for the inconvenience. Hopefully the Nuget packages will return... one day!

[2018-03-14 19:46] r3ndszergazda commented on #32
Wow, thank you very much for your prompt and detailed response & also for your kindness! Thank you for the clarfication also!

[2018-03-19 09:19] Wagnerp commented on #32
You're welcome.

[2018-03-19 09:19] #32 closed

[2018-03-24 09:28] Wagnerp commented on #29
Ok, by the way, I've redone the `Palette Upgrade Tool` that was present in the commercial version before Phil Wright made it open source. It is not currently in the original repo. Might be useful for the extended toolkit project.

[2018-03-25 15:26] Smurf-IV commented on #31
**_From the Help_**
--------------------------------------------------------------
*Upgrading Palette Definitions*
When moving from one version of Krypton to another there are sometimes changes made to the palette XML format. When this happens you can use the Palette Upgrade Tool to convert palette XML files to the latest file format. This utility can be started from the Krypton Explorer program,

[2018-03-26 08:10] Wagnerp commented on #31
I'll look into it. Currently working on an XML authoring system for part of a feature that I have integrated into the `Extended Toolkit' project.

[2018-03-27 07:08] Smurf-IV commented on #9
The Shadow seems to be working by default, BUT in windows 10 it causes the following to happen..

(And for some reason I cannot upload an image)

[2018-03-27 07:55] Smurf-IV opened #35 "The "KyptonRibbon" defaults to `Chrome = false`, and causes Windows 10 to not draw MainForm Title text"
Professional systems work (Because they do not modify chrome)
But in Window 10 No text is displayed (Works in Win 8.1)
But, If window is not active then the text is shown!
Build 535 -> 561 (Maybe earlier)

Active Child forms are okay just the main app.

(Still cannot upload images !)

[2018-03-27 10:50] Smurf-IV commented on #35
I have narrowed it down to the usage of the KryptonRibbin QAT.
If an application has this then the Chrome is not drawn properly (Even ion Win 8.1), and in Win 10 it makes a mess of things

[2018-03-27 11:28] Wagnerp commented on #35
Is this because they have changed how some of the APIs work in win10, i.e UWP apps?

[2018-03-27 11:35] Smurf-IV commented on #35
Nope, As I stated it also causes problems in Win 8.1 Chrome .

I've just found out what it is..
Look in the Designer when the `KryptonRibbon `is selected, and it has something called "`AllowFormIntegrate`", set that to False and Chrome drawing works as expected.
Read the Help tip (In IDE) for it and it's really confusing. I think that this should be `False `by default!

[2018-03-27 11:46] Smurf-IV commented on #9
On Windows 10, With the Professional ###  themes, the Drop Shadow is a solid line (Might not be related to drop shadow, but that is what it looks like)

[2018-03-27 11:57] Wagnerp commented on #35
I'll merge a change today with the default value set to `false`. Could you confirm that it's just the `KryptonRibbon` control?

[2018-03-27 14:58] Wagnerp commented on #9
Would it be possible to put a theme check in, i.e.:

if theme == professional then
// DO NOT HAVE DROP SHADOW

[2018-03-28 06:33] Smurf-IV commented on #35
For the cause, Yes it is.
The issue of the MainForm in Windows 10 will still need to be sorted.

[2018-04-09 18:36] Smurf-IV opened #37 "Windows 10 with "Professional Themes" do not show Form Title Text when active"
In Window 10 No text is displayed (Works in Win 8.1)
But, If window is not active then the text is shown!
Build 535 -> 561 (Maybe earlier)

[2018-04-09 18:37] Smurf-IV commented on #35
#37 created - Closing this with the designer fix by @Wagnerp

[2018-04-09 18:37] #35 closed

[2018-04-09 18:38] Smurf-IV commented on #29
Tested - Now fixed :-)

[2018-04-09 18:38] #29 closed

[2018-04-09 18:41] Smurf-IV commented on #27
These themes also do not allow the "Button Extra's" to display in the form title areas.

[2018-04-09 18:42] Smurf-IV opened #38 "Office 2003 and System themes should still display the Form "Extra Buttons" in the title area"

[2018-04-09 18:49] Wagnerp commented on #27
Might be a case of adding the code to the professional themes. By the way, I think that I've found a way to make the kryptonised file dialogs, either use the Win API Codepack or the 'gong-shell' project.

[2018-04-11 08:45] Smurf-IV opened #39 "KryptonMessageBox HelpInfo does nothing"
From the code:
[code]

[2018-04-13 18:49] Wagnerp opened #41 "Easier Distribution Method"
After unsuccessful nuget distribution attempts, I have noticed that I can apply for a free license for Advanced Installer, if you are going to use it in conjunction with open source projects. Thoughts?

[2018-04-14 05:32] Wagnerp commented on #41
I just think it would be easier for releasing updates, the end user would only need to install once, and just use the integrated 'check for updates' wizard.

[2018-04-16 15:50] Wagnerp opened #42 "New distribution feedback"
Hi, I've just uploaded a new release. Can you just test it please and suggest any improvements? Thanks.

[2018-04-18 12:25] Smurf-IV commented on #42
It needs to state .Net 4.7**0**
No Need for the customer unless it is going to install the Source code for the examples (Might be nice)
Clicking next, then "Install" after changing the target directory, It thinks I have pressed "Cancel" !!

It is then stuck regardless

Also I hope this is not "GAC'ing"

And Can you also release the Dll's as normal for the projects that have them placed into source

[2018-04-18 18:09] Wagnerp commented on #42
For reference https://www.advancedinstaller.com/user-guide/qa-log.html

[2018-04-21 18:39] Wagnerp opened #43 "Renaming of DLLs Assembly Name Suggestion"
Just a thought, should we rename the relevant DLL assembly names i.e `ComponentFactory.Krypton.Design.dll` to `Krypton Design.dll` etc, but keep the namespace names 'as is' for obvious reasons?

[2018-04-21 20:24] Smurf-IV commented on #43
I think "we" would be allowed to, but then it would be more of a derivative work, (Which it is) and "we" still keep the original header "mostly" intact as requested by the original license, so Yeah, go ahead.
Whilst at it, Can you also get rid of all the architecture stuff, or are you still convinced it makes a difference ?

[2018-04-22 06:44] Smurf-IV commented on #43
Company name could be the github address !

[2018-04-22 10:36] Wagnerp commented on #43
A new installer has just been released. It supports Windows 7 and higher. I personally don't think both XP and Vista should be supported, as they're old systems and don't support .NET 4.7. As for the updater, if that fails, then I do have a backup plan, which I'll work on this week.

[2018-04-22 12:07] Wagnerp commented on #43
I'm putting in a folder called `Failsafe` with the original DLL filenames still in tact, just in case something goes haywire.

[2018-04-29 11:51] Wagnerp opened #45 "Possible build/push glitch"
There maybe a possible build glitch in `572` where it'll duplicate binaries, therefore inflating the repo from ~450 MB to 2.53 GB.

[2018-04-29 20:09] Smurf-IV commented on #45
Is this because of the `Failsafe/Krypton Components` area ?

Or when a new Sync is done it is not removing the Old Built binaries which were scattered all over the place ?

[2018-04-30 05:59] Wagnerp commented on #45
It seems that all binaries `*.dll` and `*.exe` etc are built in each of the main directories as well as the top level directory, unless this is a problem in the `4.71` version only?

[2018-04-30 07:13] Smurf-IV commented on #45
That is correct for the build locations, The binaries are then copied if they are different as a post build.
This allows the compiler to find the relevant files quicker when performing debug actions as they remain specific to the build project rather than being replaced by other projects.
Those files shoulde not be pushed to Github as they are excluded by the gitignore file.

[2018-04-30 11:39] Wagnerp opened #46 "Is there any good web editing add-ons for VS?"
Are there any good web editing add-ons for VS, as I'm going to create a HTML based changelog for the updater utility. Got a good table design in mind.

[2018-04-30 11:58] Smurf-IV commented on #46
Use the split screen already built into VS..

You have to enable it via the "Open With" for HTML pages initially (Search howto via google) but it's great for direct editing,
Or "More controversially" use MS WORD

[2018-04-30 13:12] Wagnerp commented on #46
I have got a version of MS Expression 4. Maybe I need to boot up the old Win 7 VM.

[2018-05-04 07:59] Wagnerp opened #47 "XML Parsing Issue"
The update utility has problems parsing the online `update.xml` file. The code should work, but it's having problems capturing data from it.

[2018-05-05 04:25] pc8181 opened #48 "All Controls are placed Bottom of Form"
Hi,
   Today (2018/May/05) installed VS 2017 with Krypton-Net-4.70 but it does not come withVS-toolbox so I added manually after that I try to add button and any other controls in form but they are placed into bottom of form like component I could not add any controls directly to form please help …..

[2018-05-05 06:15] Wagnerp commented on #48
Hi,

There is a bug within the designer, as a temporary measure, I would recommend that you use the DLLs contained in the `Failsafe` folder until this bug is ironed out.

[2018-05-05 10:38] pc8181 commented on #48
thanks for the reply, where is the `Failsafe `folder ?, please help

[2018-05-05 16:46] Wagnerp commented on #48
I'll upload a `zip` file containing these files shortly.

[2018-05-05 16:48] Wagnerp commented on #48
Update: It's uploaded.

[2018-05-05 17:36] pc8181 commented on #48
thanks for the great help ... but it does not resolve this problem i added filesafe dll's but the same problem persists and also i tried to compile myself and tried, same problem .... please help

![image](https://user-images.githubusercontent.com/13380400/39665901-1cd9e6f2-5050-11e8-9a04-7dfa59b0cf12.png)

[2018-05-05 17:44] Wagnerp commented on #48
It's because you need to add the reference `ComponentFactory.Krypton.Design.dll` to your project before you can use the controls.

[2018-05-05 17:54] pc8181 commented on #48
yes, after i did it, working fine ... thanx

[2018-05-08 08:46] Wagnerp commented on #48
I'm glad that it's working for you now.

[2018-05-08 08:46] #48 closed

[2018-05-11 18:45] PWagner1 opened #50 "New changelog"
New HTML5 & CSS3 based changelog. Thoughts?

[2018-05-12 07:09] Smurf-IV commented on #50
Do those styles work with GitHub - readme?
or do we have to put the changes in 2 places ?

[2018-05-12 07:40] Wagnerp commented on #50
It's in pure HTML & CSS, unfortunately I don't know if it's compatible with the GitHub repo, since it doesn't render when clicked on. I'll be styling the table with CSS3 in due course, but I just wanted to make sure that the colours, design etc worked before making it more permanent.

[2018-05-16 14:27] fdncred opened #51 "Palette Question"
I've created a Form deriving from KryptonForm. I have a kryptonManager and a kryptonPalette called kPalette. My kryptonManager GlobalPalette property is set to kPalette. When I change the values in the designer I see the changes reflected in the designer UI. i.e. I set the status strip text to red. When I compile the status strip text is the regular color.

I tried doing all this in code and the s

[2018-05-16 14:36] fdncred commented on #51
Nevermind. With more trial and error I put this in my code and now it all works.

kryptonManager.GlobalPalette = kPalette;

I had that in the VS Designer but apparently that only works for seeing changes in the designer and not at run time. So I had to put that in the code too.

[2018-05-16 14:36] #51 closed

[2018-05-16 17:01] fdncred opened #52 "Status Strip Labels"
Is there a way to make changes to the status strip labels individually, such as changing foreground, background, and font?

Once I set the status strip to ManagerRenderMode all that type of styling goes away.

Thanks,
Darren

[2018-05-18 06:47] Wagnerp commented on #52
Hi, I would reccomend that you have a look at the `Palette Designer` if you want to create your own custom theme.

[2018-05-18 12:14] fdncred commented on #52
I have looked at Palette Designer and all the rest of the examples and source code. Nothing appears to indicate that one can control and individual status item's foreground or background color. You can change them all via the Palette, but none of them individually. That is what I'm questioning.

[2018-05-21 08:07] Wagnerp commented on #52
You can change the font, also there is a way that you can have two colours, but I think these options are buried deep within the properties. In my 'Extended Toolkit', we may make it so that these options are easier to find.

[2018-05-21 12:40] fdncred commented on #52
Would you mind pointing out to me where it exists in the extended toolkit please? I'm looking and don't see it.

[2018-05-21 18:31] Wagnerp commented on #52
It's not started development yet, but if you want to change the properties, all values will be under the `StateCommon` tree of each control.

[2018-05-24 05:54] Wagnerp commented on #52
I have now uploaded 26 new themes, one of which is a clone of Access red. You can request a theme, have a look at readme for more details.

![access red](https://user-images.githubusercontent.com/949607/40466841-4d0ec850-5f1f-11e8-9279-66962040d0cf.PNG)

[2018-05-29 20:10] fdncred commented on #52
I guess I need more verbosity. Where are these new themes? I looked through the commits and didn't see them. Themes are great but if I can't control individual status strip items foreground/background color then it doesn't really address the issue for me.

[2018-05-30 07:13] Wagnerp commented on #52
They are in the `Palettes` folder, there are 52 new themes in total. If you need just the status strip need themeing please let me know, and I can craft one for you. I'll need details of the foreground/background colours, plus the choice of Office 2007/2010 or 2013 design.

[2018-05-31 15:36] fdncred commented on #52
Can you help me understand what I'm doing wrong with this code? I'm trying to test out all the palettes but when you change them, one after the other, some artifacts are left behind and the full palette isn't drawn completely.

[kPaletteForm.zip](https://github.com/Wagnerp/Krypton-NET-4.70/files/2058854/kPaletteForm.zip)

Start out like this.
![kpaletteform-start](https://user-images.githubusercon

[2018-05-31 16:53] Wagnerp commented on #52
Yes, I think it's a colour region that I missed out thanks for pointing it out. It is possible to create two palettes for the statusstrip, but you may need more than one `KryptonManager` to switch between.

[2018-05-31 17:16] Wagnerp commented on #52
This is how it should look:

![capture](https://user-images.githubusercontent.com/949607/40797042-c7dd9fb8-64fe-11e8-82eb-c80dbccb62a5.jpg)

[2018-05-31 17:40] Wagnerp commented on #52
Created some palettes that you may be looking for

[ProofOfConcept.zip](https://github.com/Wagnerp/Krypton-NET-4.70/files/2059384/ProofOfConcept.zip)

[2018-06-01 06:14] Wagnerp commented on #52
I see what you're looking for now. No the current toolkit doesn't support this, but if you would like to request this feature, then by all means please submit the request on the `Extended Toolkit` repo. Thanks!

[2018-06-01 17:16] #52 closed

[2018-06-21 20:45] herledant opened #56 "System Themes show a strange Drop Shadow"
Hello,

I encoutered a problem of design when i simply put a ribbon on a kryptonForm.
Above the print af my problem.
You can see a black line on the right side of the form.
This is not happen if there isn't any ribbon.
As you can see the main title look change also depending if there is a ribbon or not...

![pb design](https://user-images.githubusercontent.com/9166449/41744427-04aefca6-75a4-11e8-9

[2018-06-22 06:28] Wagnerp commented on #56
To remove it, you need to set `AllowDropShadow` on the `KryptonForm` to `false`. It's not a bug, as it was a feature that we implemented several months ago.

[2018-06-22 18:51] herledant commented on #56
Hi Wagnerp,

Thank's for answering me quickly!
I'm looking for AllowDropShadow but it seems to not be there...

![pb design 3](https://user-images.githubusercontent.com/9166449/41793932-0154a1d6-765e-11e8-9fdb-e2057f0dd9cf.png)

[2018-06-22 19:36] Wagnerp commented on #56
Ahh... sorry, the property that you should look for is `UseDropShadow` I'll properly categorise it in the next update.

[2018-06-22 21:50] herledant commented on #56
Ok but even if put this property to false, the problem stay : black line on the right side of the form....

[2018-06-23 05:57] Wagnerp commented on #56
It should disappear if you maximise the window. I'll look into it anyway.

[2018-06-23 06:57] Smurf-IV commented on #56
This is probably the problem with the "Use of the Professional" based themes in Win 10. It is probably fixed in the later versions, where I made the "Chrome" drawing be part of the default themes apart from Office 2003 Pro  Theme.

[2018-06-23 10:09] herledant commented on #56
Ok guy's.
Thank's a lot for your great job.

[2018-06-23 10:48] Wagnerp commented on #56
I think what @Smurf-IV means by later versions is build 619 or above.

[2018-06-23 13:56] herledant commented on #56
Hum... I use the 620 for Krypton toolkit dll and the 577 for the krypton Ribbon.
It seems to be the last one no?

[2018-06-23 14:55] Wagnerp commented on #56
Yes, that's the latest one. The DLLs have different build numbers to each other.

[2018-06-23 14:56] herledant commented on #56
Can we say that's the "bug" is not fix?

[2018-07-04 12:30] Smurf-IV opened #57 "KryptonForm does not respect Minimum Size set in designer"
Win Forms do, Krypton Forms do not

[2018-07-05 06:47] Wagnerp opened #58 "MouseDown events not subscribed in KryptonTreeView"
As title states.

[2018-07-05 06:47] #45 closed

[2018-07-05 06:47] #43 closed

[2018-07-05 06:48] #19 closed

[2018-07-05 06:48] #28 closed

[2018-07-05 06:53] Wagnerp commented on #31
@Smurf-IV

Can do if we set the palette to `Custom`. The only issue is that the `KryptonComboBox` does not currently support a dropdown `BackColor` property.

[2018-07-05 06:55] #9 closed

[2018-07-05 06:59] Wagnerp opened #59 "KryptonComboBox does not support a dropdown `BackColor` property"
Title is self explanatory.

[2018-07-05 06:59] #46 closed

[2018-07-07 08:09] Smurf-IV commented on #31
KryptonComboBox -> StateCommon -> DropBack e-> tc.
or
KryptonComboBox -> StateCommon -> Item -> Back -> etc.

[2018-07-07 08:10] Smurf-IV commented on #59
KryptonComboBox -> StateCommon -> DropBack e-> tc.
or
KryptonComboBox -> StateCommon -> Item -> Back -> etc.

[2018-07-07 18:34] Wagnerp commented on #59
Ahh, didn't see. Wondered why I couldn't change this property in the palette designer.

[2018-07-07 18:38] Wagnerp commented on #31
Is there a property for it in the `Palette Designer`?

[2018-07-12 06:25] Wagnerp opened #60 "Implement `DrawItem()` event in KryptonComboBox"
The `KryptonComboBox` does not appear to have an `DrawItem()` event handler.

[2018-07-15 19:01] #57 closed

[2018-07-17 10:17] Wagnerp opened #62 "Is there a larger version of the logo?"
It's for use for a rewrite of the `Krypton Explorer`

[2018-07-22 09:31] Wagnerp commented on #62
Thanks, I'm redoing it to minimise repetitive code. It will look similar to  the old UI, with major changes to the code.

[2018-07-22 09:44] Wagnerp commented on #62
Edit: I may try to recreate it in photoshop, and upload a raw `*.psd` file of 512 x 512. This will allow us to create a new 'Kr' `*.ico` file, which will replace the old puzzle icon. It will also allow us to add layers/textures etc as we see fit. PSD files can be imported into Paint .NET.

[2018-07-22 10:34] Smurf-IV commented on #62
Cool
Some ideas:
https://wallpapercave.com/periodic-table-wallpaper
http://periodictableimage.com/wp-content/uploads/2018/04/Periodic-Table-Hd-Wallpaper-1920x1080.jpg

[2018-07-22 10:47] Wagnerp commented on #62
What's your thought of a hexagonal shape for each letter? http://periodictableimage.com/wp-content/uploads/2018/06/Periodic-Table-Hd-Images-Wallpapers.jpg

[2018-07-22 17:35] Wagnerp commented on #62
@Smurf-IV

Before I go ahead and make the rest of the letters, what's your thought on this design?

![kr hexagon](https://user-images.githubusercontent.com/949607/43048332-d17c3068-8ddd-11e8-972d-5ab81a80ba1c.png)

I could always use the blue palette colour?

[2018-07-22 17:49] Wagnerp commented on #62
![kr hexagon office 2010 blue](https://user-images.githubusercontent.com/949607/43048471-e1d5825a-8ddf-11e8-83f9-032254025f8e.png)

[2018-07-23 06:58] Smurf-IV commented on #62
- When the Hexagons are compressed to make a 32*32 icon the text will probably be unreadable, and the Kr will be lost to just a a blob that "might" look like a K.
That's why I chose the square shape..
- Blue would fit in with the existing theme, but I wanted to move it away from the existing one to try and show that the new Krypton is "different"..
Your Choice :-)

[2018-07-23 07:37] Wagnerp commented on #62
Yes, sure. I'm playing about with different fonts also.

![transparent kr hexagon office 2010 blue test text 512 x 512](https://user-images.githubusercontent.com/949607/43063339-6c3b8d72-8e53-11e8-8054-441abb600f1a.png)

Could try green and a circular design?

[2018-07-23 08:10] Wagnerp commented on #62
![square design 512 x 512 green](https://user-images.githubusercontent.com/949607/43064915-2a41894e-8e58-11e8-89cc-594ca95475eb.png)

This one may actually work

[2018-07-23 18:33] Wagnerp opened #63 "Support for MSIX"
Just a heads up that I plan to release a new `MSIX` installer, alongside the traditional `EXE` installer. This could pave the way forward eventually to a **freely** available Windows Store release.

[2018-07-26 17:31] Smurf-IV commented on #62
center font need to be bold, in order for it not to be lost when the pixels
are reduced.

On Mon, 23 Jul 2018 at 09:10, Peter Wagner <notifications@github.com> wrote:

[2018-07-27 06:33] Wagnerp commented on #62
Do you mean like this?

![square design 512 x 512 green](https://user-images.githubusercontent.com/949607/43305355-6015f9aa-916f-11e8-89bd-cf094f201b4c.png)

[2018-07-28 08:43] MTABSoftwaredev opened #64 "Form Icon Miss placed in- Contextual Tabs"
In Ribbon Form Form Icon are after Contextual tabs in ribbon,

![contexual tab](https://user-images.githubusercontent.com/17450367/43354800-2ff21c2a-9270-11e8-8bb9-170a84ac689c.png)

[2018-08-03 09:09] Smurf-IV opened #65 "Exceptions thrown during use (Listed below when found)"
In KryptonDataGridView.cs line 1153 state = normal
image
![image](https://user-images.githubusercontent.com/2418812/43634852-4d3922a8-9705-11e8-93d7-79069290376a.png)

[2018-08-03 09:10] Smurf-IV commented on #65
In `AccurateText.cs` line 305
`Color tmpColor = tmpBrush?.Color ?? SystemColors.ActiveCaptionText;`

[2018-08-08 20:35] Wagnerp commented on #64
I think that I have fixed it in build 633

[2018-08-16 08:36] maniX101 opened #66 "Nuget Package Update Request"
Please Update the Packages with new binaries 4.70.633

https://www.nuget.org/packages/KryptonToolkitSuiteNET470/

[2018-08-16 09:55] maniX101 commented on #64
No, the bug is still there.

![image](https://user-images.githubusercontent.com/5473498/44202047-87b11400-a168-11e8-976f-25778ea167f1.png)

[2018-08-18 13:40] Smurf-IV commented on #62
Maybe more. Try reduce to a 24 pixel square (16 used to the minimum but I have not come across a sensible display of that since Win XP went out of fashion!)

[2018-08-20 11:39] Wagnerp commented on #62
This is the icon at 24 x 24 pixels:

![square design 24 x 24 green](https://user-images.githubusercontent.com/949607/44338526-06ae9100-a476-11e8-8c2a-a35ae1390d3a.png)

[2018-08-20 16:06] Smurf-IV commented on #62
That ico file is not valid according to windows :-(
The reason it is blurry is down to re-sampling, you'll have to sharpen as well. That will forcefully lose some information, but make it clearer for the crucial part, which is the **Kr**

[2018-08-20 18:03] Wagnerp commented on #62
That's odd, as I used paint .net to create the ico file. I'll have a look tomorrow. In other news, I've successfully created a new palette creator (not all features are functional at the moment), but would you mind testing it when you have some spare time? I've also started development on a new customisable message box.

[2018-08-24 09:05] herledant opened #67 "Ctrl+c to copy"
Hello,

is it a way to deactivate this functionnality on kryptonmessagebox and kryptontaskdialog?

Best Regard's

[2018-08-26 16:32] Smurf-IV commented on #67
I think it only displays when the Type of Icon is Error, so don't use that for Messages / info/ warning etc.

[2018-08-26 18:08] herledant commented on #67
Hello Smurf-IV,

In fact it display with warning and error message on kryptonmessagebox and always on kryptontaskdialog.
Is it a way to never display it? I don't need it and i prefer hide this option.

[2018-09-05 17:28] GeraldoJansen opened #68 "The look of krypton themes does not appear in windows 10 when I use the ribbon control"
I'm developing a project and wanted to use the visual krypton and its controls, but I need my project to have the .NET 4.5 version so I managed the dll's to 4.5. I can not use the Ribbon and the Krypton look of the form together. When I use the two together the form gets a glitch in the visual and windows 10 continues as the visual for the form. I need help with this bug. @Wagnerp @saleyn @Smurf-I

[2018-09-05 18:53] GeraldoJansen commented on #68
I put "kryptonRibbon1.AllowFormIntegrate = false;" and the form appeared the visual. Anyway, thank you very much for your work.

[2018-09-05 18:53] #68 closed

[2018-09-12 13:03] GeraldoJansen commented on #68
I'm a big fan of your work. Thank you for the initiative, that is of great importance to me and to many others. @Wagnerp

[2018-09-12 13:19] GeraldoJansen opened #69 "RibbonAppButton from kryptonRibbon closes form with double click"
Good morning everyone.
I used kryptonForm next to kryptonRibbon, it has some themes that contain the circular RibbonAppButton that closes the form when the double click happens preventing me from using those themes. Please give me some help as I have tried everything I knew. @Wagnerp @saleyn @Smurf-IV

[2018-09-17 09:14] Wagnerp commented on #66
I would, however I can't seem to get the spec working.

[2018-09-21 18:16] Wagnerp commented on #69
Hi @GeraldoJansen

Which themes are you using?

[2018-09-22 13:37] Smurf-IV commented on #69
So if you use any of the themes based on the 2007 palettes then you have the "Round Star" button in the top right.
![image](https://user-images.githubusercontent.com/2418812/45917791-b2337280-be74-11e8-9cb9-8be749276ea3.png) (Image taken from the Ribbon Menu Test app)
If you double click that, it closes the app.
**Just** like clicking **any** app in the top right will close the app.

What are you

[2018-09-23 10:54] Smurf-IV commented on #67
@herledant I have added a design time property to the TaskDialog
[code]

And an optional nullable bool for each of the messageBox API's
[code]

[2018-09-24 13:50] GeraldoJansen commented on #69
Good morning everyone.

First of all, I want to thank you for your initiative for making a tremendous contribution to me and to a number of people.

@Wagnerp, I did some testing and the themes that are closing the form with double click on the RibbonAppButton are these:

- Office2007Black;
- Office2007Blue;
- Office2007Silver;

- SparkleBlue;
- SparkleOrange;
- SparklePurple;

- Office2013;
- Offi

[2018-09-24 13:51] GeraldoJansen commented on #69
Good morning sir @ Smurf-IV.

I was not aware of this fact that it was a standard reaction of the windows in general, it is necessary that the user of Krypton have control over this situation.

Having this in mind I thought of a property that invalidates the close window or a more elegant solution the possibility of an event to double click on the RibbonAppButton.

@Wagnerp @Smurf-IV

[2018-09-24 16:40] Wagnerp commented on #69
Hi @GeraldoJansen and @Smurf-IV

Is this action due to the ribbon being drawn on the titlebar area of the window? I know that double clicking the top left area of the titlebar can cause the **`ALT + F4`** command to initiate in some applications.

[2018-09-24 18:56] herledant commented on #67
Hello Smurf-IV
Thank's a lot to have made the modification.
For Kryptonmessagebox, it's clear how to disable the "ctrl+c" option.

For KryptonTaskDialog i'm not sure to have well understand how to disable this option.
Is this just by setting the textextra parameter to nothing?

One more question about the Kryptonmessagebox control:
What is IWin32Window showOwner parameter?
I don't understant for w

[2018-09-25 11:07] GeraldoJansen commented on #69
Good morning, Mr. @Wagnerp .
Because the RibbonAppButton is in this position, it apparently ended up getting the double-click close function that has the window icon, as you said, in the upper left corner.

It would be interesting if the other events assigned to the RibbonAppButton had the double click, thus giving the possibility of interaction with the end user to know if the user really wanted

[2018-09-26 12:27] Smurf-IV commented on #67
Correct (`string.Empty`)

The same description as in the MSDN for MessageBox.

It allows the messagebox to be set to a certain control / Form, rather than just a default null, which then the codes attempts to seek out an owner

[2018-09-26 16:19] Wagnerp commented on #67
Or you you could just put `TextExtra = "";`

[2018-09-26 17:00] herledant commented on #67
OK many thank's for your answer!
Great job!

[2018-09-26 17:00] #67 closed

[2018-09-27 06:47] Wagnerp opened #71 "Playing with Version Numbers"
Hi All,

In an effort to create a usable NuGet package, I am planning to test a theory of changing the version major number from `4` (`4.70.xxx.0`) to `5` (`5.470.xxx.0`), as the theory that I have is that it does not like the version `4.7` or `4.70`. Due to these changes, I'll be first testing it out on the **dev** branch, before merging these changes to the **stable** branch **IF** successful.

[2018-09-27 17:33] #62 closed

[2018-09-27 17:34] #41 closed

[2018-09-28 07:37] Wagnerp commented on #71
**Update:** I can now confirm as of Friday 28th September, 2018 that the problem with the Nuget packages was the **major** number of the version. Therefore, in the next update, the version number will change from `4.70.xxx.0` to `5.470.xxx.0`.

[2018-09-29 07:31] #38 closed

[2018-09-29 07:32] #37 closed

[2018-09-29 07:32] #27 closed

[2018-09-29 07:52] #71 closed

[2018-09-29 07:54] Wagnerp commented on #66
Hi @maniX101

A new working NuGet package is now available.

[2018-09-29 07:55] #59 closed

[2018-09-29 09:37] Wagnerp commented on #69
Hi @GeraldoJansen

That's ok, I found out that this is the **default** action even on Microsoft's own Office 2007 ribbon UI, so it's a quirky design feature. Therefore, I have to disregard it as a bug.

[2018-09-29 11:11] GeraldoJansen commented on #69
Good morning @Wagnerp

Are you considering doing a double-click event on the RibbonAppButton to have control of when the form will close?

I really need that.

[2018-10-02 22:59] GeraldoJansen commented on #69
I await your reply ..
Thank you very much for your help @Wagnerp

[2018-10-04 14:28] Smurf-IV commented on #65
TrackBarController:
[code]

[2018-10-04 14:30] Smurf-IV commented on #65
Toolkit.VisualPanel.PaintTransparentBackground:
[code]

[2018-10-04 15:49] Wagnerp commented on #65
That might be the latest commit that I did this morning on the `SeperatorController.cs`. The old code is still there, just commented out. I was trying to merge Phil Wright's latest fixes.

[2018-10-09 11:39] Smurf-IV opened #73 "Using Krypton Ribbon and App.Manifest set to Win10 does not display Active Form Text"
This took an age to find out, so bear with me...

Create an Application that uses the Krypton Ribbon (Or use the Application Menu Example)
Add an "app.manifest" file (Standard add new steps)
Run the application on Windows 10 (Standard win 10 theme)
Notice that when the application has focus (And without) the MainForm text is visible
Edit the new app.manifest and set it to be compatible with win 10

[2018-10-09 15:54] Wagnerp commented on #73
Ahh yes I see that the title is invisible. As for the shadow effect, can this be fixed by this?

if (PaletteMode == System)
{
    UseDropShadow = false;
}
else
{
    UseDropShadow = true;
}

[2018-10-29 17:39] herledant opened #74 "KryptonPage AutoHidden mode size"
Hello Wagnerp, Smurf-IV,

I don't find how to change the size of a floating kryptonPage when i click on the AutoHidden button.

Maybe a screen is better to explain:

![image](https://user-images.githubusercontent.com/9166449/47668713-7a24fb00-dba9-11e8-93c0-83ba8f626e35.png)

I use the AutoHiddenSlideSize method to show the page with the size i want but this size isne't use when i click on the "Au

[2018-11-15 20:29] herledant opened #75 "Ribbontab.text doesn't show"
Hello every body,

I'm wotking on program that use a kryptonRibbon. It work not so bad under windows 10.
Therefore my application should be launch on a windows 2008 server . In this environnement, the ribbonTab text doesnt show.

![image](https://user-images.githubusercontent.com/9166449/48579671-715c5500-e91d-11e8-8377-1a09bd7778cc.png)

Have you ever meet this behavior?

I don't have any error.

[2018-11-15 20:41] herledant opened #76 "kryptonmanager issue"
Hello,

I use a kryptonManager to manage the theme of my application.
I try to change the value of KryptonManager.GlobalPaletteMode:
- This is work in the designer
- Then when i compil the program and launch it, the theme doesn't change....

Have you ever meet the behavior?
Maybe some trouble in my visual studio designer...

Best Regard's

[2018-11-17 15:59] Wagnerp commented on #76
Hi @herledant

I can confirm that after testing it is a bug from when we removed the **Design.dll**, however, it is still possible to change the theme via code. If you are trying to load a theme in from a `XML` file, then you need to use the KryptonPalette's `Import()` method.

[2018-11-17 16:05] Wagnerp commented on #75
Hi @herledant

Please be aware that we don't support Windows Server 2008 or lower including clients on this particular version. Please refer to versions 5.460 or lower for support.

[2018-11-17 16:08] Wagnerp commented on #74
I'll have a look into the issue. What component are you using?

[2018-11-18 12:54] herledant commented on #75
Ok
Did you mean that, if i use Krypton 5.460 dll it will work?

[2018-11-18 14:56] herledant commented on #75
I try to use 5.460 and 5.450 but with same result.
Is it lost for me ?

[2018-11-18 15:00] herledant commented on #74
I use a userControl that i add directlty to the Tabpage.
The code is below.

`

    Private Function NewInput() As KryptonPage

        Return newPage("Filters", 4, New KryptonPage)
    End Function

    Private Function newPage(ByVal name As String, ByVal image As Integer, ByVal content As Control) As KryptonPage

        'Create new page with title and image
        p = New KryptonPage()

[2018-11-19 08:40] Wagnerp commented on #75
It looks like you need to change the colour of the tab text.

Try:

`StateCommon > RibbonTab > TextColor`

It looks like in your app, its set to white.

[2018-11-19 08:45] Wagnerp commented on #75
You could put in a function to change this on a lower OS. i.e

if running on Server 2008 or lower then
   set ribbon text colour
end if

[2018-11-19 08:46] #66 closed

[2018-11-19 16:14] herledant commented on #75
hello Wagnerp,

Thank's for help but it doesnt change anything.
Changing color work well on Win10 or 2016 but not in 2008.
It is desperatly invisible.

[2018-11-19 17:51] Wagnerp commented on #75
I will fire up one of my VM's tomorrow to find out what's going on.

[2018-11-19 20:49] herledant commented on #75
i try to force the text with:

`
KryptonRibbon1.RibbonTabs(0).Text = "Search"
`

But same result

Sincerly thank's Wagnerp to try to help me.

[2018-12-02 18:19] herledant commented on #75
Hello Wagnerp,

Did you have time to find out what's going on?

BR

[2018-12-03 09:34] Wagnerp commented on #75
Hi @herledant

Not yet, as I've been rather busy adding new stuff to the extended toolkit, like themed scrollbars etc. But hopefully this week. Is this a issue just when the Windows classic theme is applied?

[2018-12-03 19:15] herledant commented on #75
Hello Wagnerp,

I'use the Win 2013 white theme but when i launch my application I feel that
the theme becomes a mix of system and 2013 white.
Anyway, even if i change the theme in kryptonManager, it doesn't change
anything when i launch the app under win 20008

Le lun. 3 déc. 2018 à 10:34, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2018-12-06 17:14] Wagnerp opened #77 "Bug Found: Cannot use some design features"
See: https://github.com/ComponentFactory/Krypton/issues/167

[2018-12-10 07:56] Wagnerp commented on #75
Hi @herledant

Have you changed `Form` to `KryptonForm` in your code? As I've just tested it and it works fine for me.

[2018-12-10 12:40] herledant commented on #75
Yes wagnerp, inherit from kryptonForm

Le lun. 10 déc. 2018 à 08:56, Peter Wagner <notifications@github.com> a
écrit :

[2018-12-10 13:49] Wagnerp commented on #75
Strange,  does it still happen if you use the 2007 or 2010 renderer, as the original Office 2013 UI was not really designed to fit in with versions lower than Windows 8, as MS moved away from skeuomorphism at this point to a more flat design.

[2018-12-10 19:20] herledant commented on #75
IT happend all time whatever UI I use..
Even If I change the UI at loading form.
I Install à fresh 2008 serveur on a Virtualbox and fzcing to this problem
again. I dont understand why you dont reproduce...

Le lun. 10 déc. 2018 à 14:49, Peter Wagner <notifications@github.com> a
écrit :

[2018-12-11 08:56] Wagnerp commented on #75
I have managed to reproduce it in a VM install of Vista. However I don't understand why it doesn't like the classic themes. It might be that the renderer does not take these themes into account for the ribbon control.

[2018-12-11 12:42] herledant commented on #75
Think you it is possible to test IT on 2008 server and see what's going on
?

Le mar. 11 déc. 2018 à 09:56, Peter Wagner <notifications@github.com> a
écrit :

[2018-12-11 13:06] Wagnerp commented on #75
I can if I can get my VM install from 2014 working, but I think that this bug goes back to Component Factory's original code.

[2018-12-11 13:09] Wagnerp commented on #75
If so, I'll report this bug on his repo, to see if anyone has a fix.

[2018-12-11 18:33] herledant commented on #75
Ok I'll wait for news from you.
Thanks

Le mar. 11 déc. 2018 à 14:09, Peter Wagner <notifications@github.com> a
écrit :

[2019-01-03 18:16] Wagnerp opened #79 "Phase out Office 2013 Palette"
Phase out Office 2013 Palette in favor for a new "Office 365" palette

[2019-01-06 09:00] Smurf-IV commented on #79
No..... Keep it, as existing software will be expecting it to be there.
e.g. Professional and office 2003 appear to be similar, **but** need to remain.

[2019-01-06 09:10] Wagnerp commented on #79
I've just renamed it, it's still there, but under the `Office 365 - x` name (x means black, blue, silver and white)

[2019-01-06 22:00] herledant commented on #75
Hi wagnerp,
As you thinking about,  official krypton dont hace this issue with win 2008.
Br

[2019-01-06 22:05] herledant commented on #74
Hi, have you any idea why this behavior existe with the "pin" tapage button ?

BR

[2019-01-07 18:24] Wagnerp commented on #75
Hi @herledant

Are you referring to the original repo? If so it might be something in the 5.740.xxx version which was inadvertently changed that needs to be reversed

[2019-01-08 06:35] herledant commented on #75
Hello,
No i speek about Phil repo for componentFactory.

Le lun. 7 janv. 2019 19:24, Peter Wagner <notifications@github.com> a
écrit :

[2019-01-25 11:31] nickfinch71 commented on #75
Hey Peter,
Just wondering if you've got anywhere with this issue yet? We've just come across it with a customer, so need to find a solution.
Thanks
Nick

[2019-01-25 15:23] nickfinch71 commented on #75
Now, I am coming at this cold and hunting through a load of code that's unfamiliar to me, so if I'm talking nonsense just ignore me. However, in the `DrawCompositionText` method of `ComponentFactory.Krypton.Toolkit.AccurateText`, the following line;

`VisualStyleRenderer renderer = new VisualStyleRenderer(state == PaletteState.Normal ? VisualStyleElement.Window.Caption.Active :

[2019-01-26 07:56] Wagnerp commented on #75
Hi @nickfinch71

Thanks for the comment, I will test your code, and will upload the fix as necessary. I  was struggling to find where it was handled.

[2019-01-26 15:17] nickfinch71 commented on #75
Hi Peter (@Wagnerp),

Could be. Interesting thing is it's only the text on the Ribbon that has an issue. I've tested pretty much every other component on a windows 2008 machine and they draw fine. Is there anything different about the way the text is painted for the ribbon?

[2019-01-26 18:17] Wagnerp opened #80 "Documentation"
Is it worth taking a look at [this](http://sharpdox.de/en/)?

[2019-01-27 09:06] Wagnerp commented on #75
Hi Nick (@nickfinch71)

I searched around in `AccurateText.cs` and found no glaring issues, but methods with **DrawGlowString** in  them.

It could be the same issue where by if you draw text on a region of Aero glass, it becomes hard to see. I don't know if it happens in Phil's original code.

[2019-01-27 09:15] herledant commented on #75
Hello Wagnerp,

I've test with the original code of Phil and text is well draw on ribbon
menu under win 2008.
BR

Le dim. 27 janv. 2019 10:06, Peter Wagner <notifications@github.com> a
écrit :

[2019-01-27 13:08] Wagnerp commented on #75
Hi @nickfinch71 & @herledant

I will try to use **WinDiff** to see if there are any differences. Has anyone been able to track down the origin?

[2019-01-27 13:36] nickfinch71 commented on #75
Hi @Wagnerp

We were using version 4.4, so had the source for that. We had to upgrade to solve [this issue](https://github.com/ComponentFactory/Krypton/issues/163) after windows patch 1809. The version of the AccurateText code we had before is [available here](https://we.tl/t-qhM5M56w1J).

I had already tried a compare with the current version, but unfortunately there does seem to be some substant

[2019-01-27 15:14] Wagnerp commented on #75
Hi @nickfinch71

Thanks for that. What I may do is comment out the existing code, and put in the original code, as something may have been broken somewhere along the line.

[2019-01-28 10:21] nickfinch71 commented on #75
Hi @Wagnerp,

OK, so for some reason drawing text with a glowing background doesn't work on windows 2008. So, as a rather crude fix, I've just reverted to drawing the text using the standard graphics object on these machines. It works, and looks OK (I've tried lots of the components, not just the Ribbon. We're not too bothered actually, as surely the days of these machines are numbered so we just

[2019-01-28 10:57] nickfinch71 commented on #75
OK, looks like the problem wasn't an issue on Windows 8, so unless anyone spots a glaring error, I think the code above is good to go!

[2019-01-28 12:14] nickfinch71 commented on #75
I've added these changes to [https://github.com/nickfinch71/Krypton-NET-5.470/tree/patch-1](https://github.com/nickfinch71/Krypton-NET-5.470/tree/patch-1)

[2019-01-28 14:41] nickfinch71 commented on #75
With a bit further testing, Environment.OSVersion does not reliably detect OS version beyond 7.1 (see [https://docs.microsoft.com/en-gb/windows/desktop/SysInfo/targeting-your-application-at-windows-8-1](https://docs.microsoft.com/en-gb/windows/desktop/SysInfo/targeting-your-application-at-windows-8-1)). Microsoft's advice on deprecating this command is "Identifying the current operating system is

[2019-01-29 10:37] nickfinch71 commented on #75
Hi @Wagnerp

No problem. Yeah, not sure. I did have a quick look, but the OS's are out of support with MS now, so references to them seem to be removed from the current online documentation.

Regards
Nick

[2019-02-03 19:11] Tape-Worm opened #82 "Random KeyNotFoundException while using krypton controls"
I've had this come up several times now, with no real discernible pattern. I have a krypton tree (and a ribbon, and a few other controls) which I use as a file system explorer.  When I click on the node to open a file I randomly get the key not found exception. Note that when I click on the file node, the ribbon is updated to enable/disable certain buttons, so given the stack trace and order of op

[2019-02-04 10:35] Wagnerp commented on #82
Hi @Tape-Worm

From the stack trace you've given me, it seems to be looping. Are you able to set a breakpoint on the areas where this is triggered?

I've had a similar issue with my Colour Wheel component in my extended toolkit project. By the way, I'm also upgrading the file system explorer to a more robust design.

[2019-02-04 11:40] Wagnerp commented on #82
I wonder if it's because `ComponentFactory.Krypton.Ribbon` is not configured to run unsafe code?

[2019-02-06 17:56] Tape-Worm commented on #82
My apologies for not getting back to you sooner.

No, I'm not using any file explorer from your controls (didn't know it existed), this is my own file explorer.  I'm just using the krypton tree view to show the files and folders.

As for breakpoint - No I can't, none of that code is mine (with the exception of the Run at the top - which is nothing more than the entry point for the application, and

[2019-02-07 09:01] Wagnerp commented on #82
Hi @Tape-Worm

Thanks for your reply. A more detailed stacktrace would be good, as if this happens randomly, it would be like searching for a needle in a haystack. Also, are you using any other third party libraries that may be conflicting with each other?

Is there any way of reproducing this bug?

[2019-02-08 05:36] Tape-Worm commented on #82
And of course, I haven't had the issue pop up today.  That's the weird thing about it, I can go days and not see anything, and then at other times it exceptions several times throughout the course of a session.

As for libraries, nothing special.  Yours is the only UI library I'm using.

As for anything outside of the usual .NET 4.7.1 assemblies, I'm using (from nuget):
* Krypton
* SharpDX (just t

[2019-02-08 05:59] Tape-Worm commented on #82
So, after trying, and failing to reproduce the problem many many many times (50+), I decided to get off my ass and look at the code.

So, I tracked down where the stack trace is pointing at for the exception (ViewDrawRibbonGroupsBorderSynch.cs):
[code]
The weird thing is that this seems to be in response to a mouse over event... yet my mouse is nowhere near the ribbon when this error is triggered.

[2019-02-08 06:48] Tape-Worm commented on #82
And finally, I managed to fix it.

So, in my merging code I was doing this:
[code]

Which is all well and good, but after digging through the Krypton code, I noticed there was a layout method that updated the internal tab dictionary on the ribbon, I traced this back to a public method called `CheckPerformLayout()`.

So, by adding these lines:
[code]
After the merge methods, the dictionary was upda

[2019-02-08 08:37] Wagnerp commented on #82
It may have been that your application was running other events first, before faulting on this particular line. That would explain the randomness of the error, but I'll check out the `ViewGroupFromPoint()` method, and see if the check can be done once.

[2019-02-10 08:33] Smurf-IV commented on #50
Something I have found that might be useful for upgrade detection:
https://github.com/Smurf-IV/Elucidate/commits

and for new releases:
https://www.somsubhra.com/github-release-stats/?username=Smurf-IV&repository=Elucidate
or
https://githubstats0.firebaseapp.com/

[2019-02-11 08:36] Wagnerp commented on #50
What do you think of: https://wagnerp.github.io/Krypton-NET-5.470/?

[2019-02-12 13:18] richterAl opened #93 "Docking App loses focus when last RemovePage and RemovePageAndDispose via CloseButtonAction"
Hello,

I have an issue in the Krypton Docking with RemovePage and RemovePageAndDispose.
After closing the **_last_** Workspace dokument the following behavoirs occur

**`RemovePage`**: Other tabs in the Ribbon are not selectable
**`RemovePageAndDispose`**: The application looses the focus.

The errors only occur if a document in the workspace has the input focus. If a page in the docking edge has

[2019-02-12 17:08] Wagnerp commented on #56
Hi @herledant & @Smurf-IV

It's finally fixed!

[2019-02-12 17:18] #56 closed

[2019-02-14 18:49] herledant commented on #56
Great News.
Tkank's to all people who has worked on it!

Le mar. 12 févr. 2019 à 18:18, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-02-14 18:55] herledant commented on #74
hello Wagner,

Have you some news about this "bug"?
Is it really a bug? I mean, maybe i don'use it correctly and i 've to put the control size as a parameter somewhere.

BR

[2019-02-15 07:52] Smurf-IV commented on #50
Nice :-)

[2019-02-15 09:03] Wagnerp commented on #56
Hi @herledant

No problem, just remember to set the `UseDropDown` property to **false** in the designer, otherwise it won't work.

[2019-02-15 09:11] Wagnerp commented on #74
Hi @herledant

I still need to check it out, can I ask which version/build of Windows are you using, as some of the bugs relate back to how MS change APIs over the years? Also is there a way to replicate it?

[2019-02-16 06:55] herledant commented on #74
Hello Peter,

I use principaly today Win 2008 (6.1.7601) but my dev env is win 10 version
1607 - 10.0.14393).
I can tell you that the "problem" is the same on those two OS with same
framework install (of course).

I use a custom contral that i add to the page in the dockingManager in
autohiddengroup.
If you need more, i can send you a little project with my code (vb .net)
Let me know.
Fabien

Le v

[2019-02-16 07:47] Wagnerp commented on #74
Hi @herledant

If you can give me some sample code to test, then that would be great!

Peter

[2019-02-16 10:06] herledant commented on #74
ok i will.
I prepare you on clean project with exactly the same code i wrote and i
send it to you asap.
Thank you

Le sam. 16 févr. 2019 à 08:47, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-02-16 11:18] herledant commented on #74
Peter,

Please, find here a project with the autohidden page. You will find in the debug directory my krypton dll.

BR

[AutoHiddenGroup.zip](https://github.com/Wagnerp/Krypton-NET-5.470/files/2871832/AutoHiddenGroup.zip)

[2019-02-16 13:19] Wagnerp commented on #74
Hi Fabian

Thanks for your code, it might be that you need to change the width of the flyout panel. I'll have a look for you, though I haven't used VB in 9 years, well since I wrote a game for my uni dissertation. :)

[2019-02-16 13:25] Wagnerp commented on #74
Though oddly enough it seems to sort itself out if you resize the panel in the app.

[2019-02-16 13:30] Wagnerp commented on #74
I think I've pinpointed it down to this line:

`Dim taille As Size = New Size(341, 475)`

[2019-02-16 13:39] herledant commented on #74
hum...
I try many thing with this size.

If i increase the width size, the autohidden tab is not on the good size
and it don't solve the problem for the "pin" tab

Le sam. 16 févr. 2019 à 14:30, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-02-16 13:53] herledant commented on #74
the autoHiddenSlideSize properties is a little bit hidden itself. I had
trouble finding it because the IDE did not propose it.
Maybe another properties exist when we want to fix the flyout panel?

Le sam. 16 févr. 2019 à 14:39, Herledant Fabien <herledant@gmail.com> a
écrit :

--
Herledant Fabien

[2019-02-16 14:03] herledant commented on #74
I look at kryptonpage.cs in krypton.navigator.
At line 182 i see:

If i change (in my code) the autohiddenSlideSize with those value, i see
the same behavior  that if i try to pin the hidden tab.
So it seems that the default size is used to pin the tab.
Did you read/see the same things ?

Le sam. 16 févr. 2019 à 14:52, Herledant Fabien <herledant@gmail.com> a
écrit :

--
Herledant Fabien

[2019-02-16 14:07] Wagnerp commented on #74
If you change the size, you may need to change the anchor properties of the controls, As for the autoHiddenSlideSize, is there a IDE property for it?

[2019-02-16 14:17] Wagnerp commented on #74
Yes try changing the autoHiddenSlideSize to the size of your control.

[2019-02-16 14:20] herledant commented on #74
from my understanding, it is well a properties.
If i change the size with the control size (341, 1000) : same behavior...
It's like a default size with witdth of 200 was apply.

Le sam. 16 févr. 2019 à 15:17, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-02-16 15:59] Wagnerp commented on #74
What you need to get/show in a label is the size of the control when pinned, as it seems to be stuck at width = 200.

[2019-02-16 16:16] herledant commented on #74
yes it is also my conclusion. Maybe it's not related to the
kryptonpage itself. Maybe it could be another parameter elsewhere.
what do you think about that?

Le sam. 16 févr. 2019 à 16:59, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-02-16 16:25] Wagnerp commented on #74
Yes, as it defaults to 200 somewhere, if we know that parameter, then it should be easy to fix. My thought is that parameter was put in circa 2005 - 2008, so it doesn't take into account larger screens.

[2019-02-16 16:59] herledant commented on #74
search in all krypton solution give this:

Krypton Components\ComponentFactory.Krypton.Toolkit\Controls
Toolkit\KryptonBreadCrumb.cs(627): protected override Size DefaultSize =>
new Size(200, 28);
Krypton
Components\ComponentFactory.Krypton.Navigator\Page\KryptonPage.cs(182):
        _autoHiddenSlideSize = new Size(200, 200);
Krypton
Components\ComponentFactory.Krypton.Navigator\Palette\NavigatorB

[2019-02-16 17:07] Wagnerp commented on #74
Is it possible to set a breakpoint, then work from there?

[2019-02-16 17:12] herledant commented on #74
hum,
i don't know where to put the breakpoint in my code.
The "pin" button is dirrectly manage by krypton

Le sam. 16 févr. 2019 à 18:07, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-02-16 17:20] herledant commented on #74
sorry for that answer.
I'm not really a devloper and i learn all day.
But here, that goes beyond my knowledge

Le sam. 16 févr. 2019 à 18:11, Herledant Fabien <herledant@gmail.com> a
écrit :

--
Herledant Fabien

[2019-02-16 17:24] Wagnerp commented on #74
The only one that stands out is this: Krypton Components\ComponentFactory.Krypton.Navigator\Page\KryptonPage.cs(182): _autoHiddenSlideSize = new Size(200, 200);

[2019-02-16 17:29] herledant commented on #74
yes but my code already change it with

This is work well for the autoHidden "function"
If y don't specify it then the size is (200,200) as we can see at
kryptonpage.cs line 182
For me this is not the parameter we are searching

Crazy!

Le sam. 16 févr. 2019 à 18:24, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-02-17 07:30] Wagnerp opened #83 "Add a initial size property for AutoHiddenSlideSize panels in KryptonPage"
Add a initial size property for AutoHidden panels in KryptonDockingManager for the developer to set.

[2019-02-17 08:05] Wagnerp commented on #74
Hi @herledant

I now know why you can't access the property within the IDE. The **Browsable** state has been set to **false**.

[2019-02-17 08:25] Wagnerp commented on #83
https://github.com/Wagnerp/Krypton-NET-5.470/issues/74

[2019-02-17 09:00] herledant commented on #74
Hello Peter,
 I've seen IT without know that was due to this option.
Therefore I continue to think that is not the autohiddensize the solution.
Maybe there isn't any Properties to manage the docking page size.

Le dim. 17 févr. 2019 à 09:05, Peter Wagner <notifications@github.com> a
écrit :

[2019-02-17 11:28] herledant commented on #83
Peter,
For the autohiddensize, it could be interesting If IT adapt automatically to the size control inside.

Fabien

[2019-02-24 07:45] Wagnerp opened #84 "Update Solution file to VS2019"

[2019-02-24 08:49] Smurf-IV commented on #84
I would prefer if you wait until 2019 is officially released....

[2019-02-24 09:10] Smurf-IV opened #85 "Make use of "Built-in" Krypton Tooltip for all Krypton Controls"
It has one for the _ButtonSpecs_, so let's implement and allow use for all controls !

[2019-02-24 09:19] Smurf-IV commented on #85
2 ways to do this
1) Add it to a base class
2) Add it to every component that needs it

Option 2) does not _feel_ nice!

Option 1) means that things like the `KryptonWrapLabel `will not get it, but things like `KryptonBorderEdge` will for no reason !
![image](https://user-images.githubusercontent.com/2418812/53297337-43888580-3815-11e9-97b1-705802911a35.png)

[2019-02-24 09:22] Smurf-IV opened #86 "Why is `KryptonWrapLabel ` derived directly from `Windows.Forms.Label`, and not from `KryptonLabel` ?"
`public class KryptonWrapLabel : Label`

[2019-02-24 09:22] Smurf-IV commented on #85
#86 Why is `KryptonWrapLabel ` derived directory from `Windows.Forms.Label`, and not from `KryptonLabel` ?

[2019-02-24 10:13] Wagnerp opened #87 "Fix examples border issues"
Update example apps with new toolkit.

[2019-02-24 10:18] Wagnerp commented on #84
I'm planning to wait until April 2nd (or after) when I can get hold of the RTM, as automatic versions isn't available yet.

[2019-02-24 10:19] #79 closed

[2019-02-24 12:44] #85 closed

[2019-02-25 07:42] Wagnerp opened #89 "Migrate Krypton Explorer to new Hub app"

[2019-02-26 07:41] Smurf-IV opened #90 "Krypton ToolTip positions are useless"
The Tooltip position code wants to place the Krypton tooltip under the "Owner" control,
i.e. if you have a `list` or a `treeview`, then the tooltip will appear underneath it - miles away !
It should be "Near the mouse pointer !"

[2019-02-26 10:04] #75 closed

[2019-02-26 18:47] Wagnerp commented on #90
Might be that it's not wired into the Krypton/TreeView list item.

[2019-02-28 08:23] Smurf-IV commented on #90
The Positioning code forces the tip to that place... But it is overly complicated and get the parent rect multiple times from multiple functions, so will take a while to unscramble !

[2019-02-28 09:10] Smurf-IV opened #91 "Now that .Net 4.8 has fixed "Keyboard Focus ToolTips"; So Krypton Tooltips be displayed also on Focus"
•Fixed the WinForms control tooltip's issue where it does not appear when moving keyboard focus to the control A control's tooltip is displayed now when a user uses a keyboard to focus the control. This change is effective in applications that have Switch.System.Windows.Forms.UseLegacyToolTipDisplay value and either Switch.UseLegacyAccessibilityFeatures.3 value is set to false or application is bu

[2019-02-28 09:14] Smurf-IV commented on #91
•A ToolStrip item's tooltip is displayed now when a user uses a keyboard to focus the ToolStrip item. This change is effective in applications that have Switch.System.Windows.Forms.UseLegacyToolTipDisplay value and either Switch.UseLegacyAccessibilityFeatures.3 value is set to false or application is built to target .NET version 4.8. [549360, System.Windows.Forms.dll, Bug, Build:3673] App.config f

[2019-02-28 09:15] Smurf-IV commented on #91
•The keyboard tooltips feature is "opt-in" now - it is no longer switched on implicitly when app targets .NET 4.8. "Switch.UseLegacyAccessibilityFeatures.3=false", which is a default value for .NET 4.8 apps, is still required by the feature. [686499, System.Windows.Forms.dll, Bug, Build:3694] App.config file content example with enabled keyboard tooltips for apps targeting .NET 4.7.2 or older:
`
<

[2019-02-28 11:24] Wagnerp commented on #90
You're not alone, while I was figuring out #82, I found that nothing could be done, as the whole class relied on a key/pair dictionary. So if I messed around with it, then a ripple effect could occur.

[2019-03-03 09:58] Smurf-IV commented on #90
I'm going to extend the existing positioning code to be more "WPF" like:

[https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.tooltip.placement?view=netframework-4.7.2](
https://docs.microsoft.com/en-us/dotnet/api/system.windows.controls.tooltip.placement?view=netframework-4.7.2)

[2019-03-03 16:29] #90 closed

[2019-03-03 16:34] Smurf-IV commented on #58
These are redirected as:

        private void OnTreeViewNodeMouseHover(object sender, TreeNodeMouseHoverEventArgs e) => OnNodeMouseHover(e);

        private void OnTreeViewNodeMouseDoubleClick(object sender, TreeNodeMouseClickEventArgs e) => OnNodeMouseDoubleClick(e);

        private void OnTreeViewNodeMouseClick(object sender, TreeNodeMouseClickEventArgs e) => OnNodeMouseClick(e);

[2019-03-03 18:10] Wagnerp commented on #58
Might help with the file explorer dialog.

[2019-03-09 13:34] Smurf-IV commented on #93
According to 2 methods, the Test App (As described above) still "Has Focus" !
1st Method: Use the Alt-TAB and it will display that the focus is on the Test-App
2nd Method: I wrote an application that returns that applications that is currently the foregroundWindow, and it shows that it is the Test-App.

BUT,
If you Alt-Tab to an app , then Alt-Tab again, it will step to the next in the list, there

[2019-03-09 13:36] Smurf-IV commented on #93
GetWindowThreadProcessId(GetForegroundWindow(), out uint processID);
    Process currentProcess = Process.GetProcessById((int)processID);
    if (currentProcess != null)
    {
        GetWindowThreadProcessId(this.Handle, out uint thisThreadId);
        if (string.IsNullOrWhiteSpace(currentProcess.MainWindowTitle))
            listBox1.Items.Add(currentProcess.ProcessName);
        else
        {

[2019-03-09 13:52] Smurf-IV commented on #93
This problem can also be reproduced in the Memo Editor from in the Workspace Examples.
Change the function to the following and then close the workspace cells:

        private void kryptonWorkspace_WorkspaceCellAdding(object sender, WorkspaceCellEventArgs e)
        {
            e.Cell.Button.CloseButtonAction = CloseButtonAction.RemovePageAndDispose;

            // Do not need the secondary he

[2019-03-09 14:04] Smurf-IV commented on #93
BUT,
As these are Navigator cells, then Making the similar change in the "Navigator Pallettes" Example app does not cause the Loss of focus, because the Parent control is visible ..

So it must be something to do with the wrapping of these controls in the DockableWorkspace.

[2019-03-09 15:08] #93 closed

[2019-03-10 07:13] Smurf-IV commented on #76
Related to #77

[2019-03-10 10:17] #39 closed

[2019-03-10 10:40] Smurf-IV commented on #64
Note:
The Icon only appears in the Demo App once a Resize is triggered,
It's still in the wrong place
- [Old Excel](https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwjc6sycr_fgAhUJ4YUKHb_iAPIQjRx6BAgBEAU&url=https%3A%2F%2Fwww.exceltip.com%2Fbasic-excel%2Fcontextual-tab.html&psig=AOvVaw0Y5-qXwoDiqL40a3_WHzxs&ust=1552300204759495)
- [Word 2010](https://www.google.com/imgre

[2019-03-10 11:13] Smurf-IV commented on #74
@herledant
I think what you need to use is a `KryptonAutoHiddenSlidePanel`

    /// <summary>
    /// Extends the KryptonPanel to work as a panel for hosting the display of a sliding in/out page.
    /// </summary>

Which for some reason is not a "Design Time ToolboxItem"...

        /// <summary>
        /// Initialize a new instance of the KryptonAutoHiddenSlidePanel class.
        /// </summary

[2019-03-10 11:25] Smurf-IV commented on #74
The only time that the `AutoHiddenSlideSize` is used is within a `KryptonAutoHiddenSlidePanel` wrapped control, which is used for mouse popup of panels as they are "mouses over"
This is why it is not an "Advertised designer value" as it is only used a hint for an initial size before the control is fully laid out, and then only if it is going to slide out.
So all the efforts of setting it are not g

[2019-03-10 11:59] Smurf-IV commented on #74
The Size comes from a hard coded value:

        /// <summary>
        /// Create and add a new dockspace instance to the correct edge of the owning control.
        /// </summary>
        /// <param name="name">Initial name of the dockspace element.</param>
        /// <returns>Reference to docking element that handles the new dockspace.</returns>
        public KryptonDockingDockspace AppendDock

[2019-03-10 13:02] Smurf-IV commented on #83
![image](https://user-images.githubusercontent.com/2418812/54085298-b543f180-4334-11e9-8336-a4f744b32f24.png)

[2019-03-10 13:04] #74 closed

[2019-03-10 13:04] #83 closed

[2019-03-10 13:13] Wagnerp commented on #74
Hi @Smurf-IV

Thanks for looking into this, I wondered where these values came from and wondered if it was a relic of the Windows XP era. I'm also considering to re-haul the message box code to be similar to the new toast notification in the extended toolkit.

[2019-03-10 13:28] Smurf-IV commented on #74
Code now goes through the pages as they are added to the DockerSpace, to ensure that the Minimum hints are "Obeyed"

[2019-03-10 13:44] Smurf-IV opened #97 "Nuget Package when viewed within Visual Studio does not have a License field"
## Compare:
![image](https://user-images.githubusercontent.com/2418812/54085844-5c775780-433a-11e9-85f9-598c00e15c42.png)
---------------------------------------------------------------------------------------

## With:
![image](https://user-images.githubusercontent.com/2418812/54085858-8a5c9c00-433a-11e9-897b-347dccd44d1f.png)
----------------------------------------------------------------------

[2019-03-10 13:45] Smurf-IV commented on #97
oh, And can it also have Themes in the Tags as well ;-)

[2019-03-10 13:49] Wagnerp commented on #97
Will fix that on the next NuGet release. I still need to find a VS extension to manage these, as I've been relying on NuGet Package Explorer.

[2019-03-10 14:47] Wagnerp commented on #47
Depreciated, as we're now using NuGet.

[2019-03-10 14:47] #47 closed

[2019-03-10 18:06] herledant commented on #83
Hello Smurf!

Thank you very much. This is what i expected and it's work. Therefore there is an unattend behavior when i "pin" out the hidden page.
An empty page is created and stay behind.

![image](https://user-images.githubusercontent.com/9166449/54089220-f81ebd00-4366-11e9-9115-1ecff7650a0a.png)

![image](https://user-images.githubusercontent.com/9166449/54089241-4a5fde00-4367-11e9-87db-6bc6e1

[2019-03-10 19:51] herledant opened #98 "KryptonDockingManager.showPage doesnt work properly anymore"
This was working in5.470.720.

Since the last commit for the evolution #83 i notice 2 problem:

- kryptonDockingManager.showPage doesn't work properly unlike the main form is resized.

- Fix hiddenPage then unfix it let an (Empty) page behind

See the post (url) https://github.com/Wagnerp/Krypton-NET-5.470/issues/83#issuecomment-471329222

I try the "Docking Persistence" exemple and the behavior i

[2019-03-11 07:42] Wagnerp commented on #83
Hi @herledant

I'll be uploading a new NuGet package today with these fixes in it

[2019-03-11 12:57] Smurf-IV commented on #97
Please also include the *.xml files in the nuget package

[2019-03-11 13:53] Wagnerp commented on #97
Would that be the theme files from the extended toolkit?

[2019-03-11 20:00] herledant commented on #83
Sorry Wagner but i compil all again with the build 791 but as i said there is 2 new issue:
see #98  and previous post here with screen shot of one of the issue.

I think this 2 new issue came from #94 because if i cancel this commit and compil again, those issues disappear.

Kind regard's

[2019-03-12 08:28] Wagnerp commented on #83
Hi @herledant

You don't need to compile the repository now, as I release pre-built binaries [here](https://www.nuget.org/packages/KryptonToolkitSuite5470/)

[2019-03-12 09:06] Wagnerp commented on #83
Hi @herledant

Just a question, what .NET Framework version are you using?

[2019-03-12 12:49] herledant commented on #83
Hello wagnerp,

I target 4.5 framework.
Thats why I nées to compile 😉

[2019-03-12 15:04] Wagnerp commented on #83
Hi @herledant

I can upload a NuGet package for easier deployment if you want. It will be no problem, as it only takes 5 mins to do!

[2019-03-12 16:01] herledant commented on #83
Hello Wagnep,

If you can deploy a nuget package not only for 4.7 but for 4.5 too... sur
i'm interested.

Le mar. 12 mars 2019 à 16:12, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-03-12 16:32] Wagnerp commented on #83
Hi @herledant

You can grab the 4.5 version [here](https://www.nuget.org/packages/KryptonToolkitSuite5450/), it should save you time re-targeting and recompiling. Tell me if you need the extended version too if you require it.

[2019-03-12 22:14] herledant commented on #83
Thank's a lot Peter but sorry because even with the 4.5 nuget i've the same issue.

![image](https://user-images.githubusercontent.com/9166449/54239724-4c1ed280-451c-11e9-8728-0fcbc0ce31d9.png)

As you can see, the autohidden button create an empty page behind, named (Empty).
Following my tests, the problem appear since the merge #94

See that you had add the bug label on #98

[2019-03-13 08:09] Wagnerp commented on #83
Hi @herledant

Yes, I've labelled it as a bug. It seems that somewhere in the code, flyout panels are leaving leftovers.

[2019-03-13 08:23] Smurf-IV commented on #97
No, They are created during compile to aid intelli-sense for the API's etc.
They have the same name as the dll, but with the `xml` extension

[2019-03-13 13:23] Wagnerp commented on #97
Ahh, ok will upload them in a `.1` release.

[2019-03-13 17:37] Wagnerp commented on #97
Done, will update other packages tomorrow.

[2019-03-16 11:18] Smurf-IV commented on #98
Thanks @herledant for finding an example so that I can focus on the fix.
Seems like the following highlight line has always been missing in:

            public virtual KryptonDockingAutoHiddenGroup SwitchDockedCellToAutoHiddenGroupRequest(string uniqueName)

![image](https://user-images.githubusercontent.com/2418812/54474430-8ae2b000-47dc-11e9-9716-cf91c978bfa2.png)

[2019-03-16 16:41] herledant commented on #98
Hello Smurf!
Thank's to have worked on it.
I'm sorry to contradict you but the the issue is not completly fix.
For the (Empty) page that stay after click on hidden button, it's ok.
For the kryptonDockingManager.showpage, the page doesn't show until the form or the control is rezise.

I've got a check box and when i check it i want to show an floating page.

[code]
Please find below a quick video t

[2019-03-17 12:25] #98 closed

[2019-03-17 12:26] Smurf-IV commented on #98
[PSR_HideRemovePage.zip](https://github.com/Wagnerp/Krypton-NET-5.470/files/2975115/PSR_HideRemovePage.zip)

[2019-03-17 13:51] #97 closed

[2019-03-17 18:26] herledant commented on #98
Thank's a lot Smurf!!! It works well

[2019-03-17 19:13] Wagnerp commented on #98
I've been trying to use this feature in a upcoming palette designer update to use the `KryptonPropertyGrid`. I'm hoping that it'll make for a cleaner UI!

[2019-03-17 20:16] herledant commented on #98
Hello Wagnerp.
Could you synchronize the nuget package with 5.450 for Krypton Toolkit suite and Krypton Toolkit extended?

BR,

[2019-03-18 07:08] Wagnerp commented on #98
Hi @herledant

I'll upload new packages today, the extended version may take a bit longer, to ensure nothing breaks. The versions I'll refresh will be 5.450, 5.470, 5.471, 5472 and 5.480 unless someone needs a different version.

[2019-03-18 07:37] herledant commented on #98
ok thank's a lot.
Do you refresh all version all the time?

Le lun. 18 mars 2019 à 08:08, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-03-18 07:45] Wagnerp commented on #98
Yes but I normally do it through Notepad++, it's normally changing the numbers around. But the extended version has a added complexity, as it includes the binaries for the normal version with it.

[2019-03-18 11:44] Wagnerp commented on #98
Hi @herledant

I've uploaded a new versions of the NuGet packages, including a extended version for .NET 4.5, build **796** which includes **all** updates since June 2018.

[2019-03-18 19:09] herledant commented on #98
many thank's Wagnerp!

[2019-03-18 19:18] Wagnerp commented on #98
@herledant

You're welcome! :)

[2019-03-20 18:12] Wagnerp opened #101 "Readme badges"
For all Krypton projects: https://shields.io/

[2019-03-22 17:09] herledant opened #102 "Unauthorise character in all krypton label"
Hello Wagnerp, Smurf,

I found a little bug when using  krypton label and button.

When i use the "&" character in the text propertie, it display an underscore instead of "&".

![image](https://user-images.githubusercontent.com/9166449/54840494-77987e80-4ccd-11e9-9945-c0245046458f.png)

Maybe some other characters could not work...

Cheers

[2019-03-22 18:29] Wagnerp commented on #102
Hi @herledant

To get an ampersand, you simply put `&&`

[2019-03-22 22:33] herledant commented on #102
ok, thank's

[2019-03-23 08:17] #102 closed

[2019-03-23 08:18] Smurf-IV commented on #102
That's standard winforms practice.. double ampersand is the way described in the MSDN.

[2019-03-27 07:47] Smurf-IV commented on #60
Already implemented, but...
The `KryptonComboxBox` redirects the native `OnComboBoxDrawItem(...)` to

        /// <summary>
        /// Occurs when [draw item].
        /// </summary>
        [Browsable(false)]
        [EditorBrowsable(EditorBrowsableState.Never)]
        public event DrawItemEventHandler DrawItem;

So you will need to attach to that instead.

[2019-03-27 07:47] #60 closed

[2019-03-27 08:15] Smurf-IV commented on #86
There are too many "Specific" API's that will mean that will cause a "Breaking Change" -> won't fix

[2019-03-27 08:15] #86 closed

[2019-03-27 08:35] Smurf-IV commented on #50
Is the need for the `Updates` directory removed, with the above Link ?
Also the Above link does not display the Icon:
![image](https://user-images.githubusercontent.com/2418812/55061244-27257600-506b-11e9-9550-f4cf12d0f504.png)

[2019-03-27 08:39] Smurf-IV commented on #80
Does the same Job as [DocFX](https://dotnet.github.io/docfx/tutorial/docfx_getting_started.html) , And still uses MarkDown files for project explanation, So I still have to convert the existing help over.
Might be worth trying to compare side by side later on.

[2019-03-27 09:18] Wagnerp commented on #50
It should be working off `README.md`. I don't know if the icon needs to be in the root, as at the moment, it's in the `Assets\PNG\Square Design` directory.

[2019-03-27 10:55] Smurf-IV opened #104 "Build 826 Causes Designer usage exceptions"
During the "Make more csustom Styles" the global replace has removed some of the existing style usages, e.g.

                case PaletteContentStyle.TabHighProfile:
                case PaletteContentStyle.TabStandardProfile:

                case PaletteContentStyle.HeaderSecondary:

                case PaletteContentStyle.HeaderForm:

this will cause the following to happen
![image](https://u

[2019-03-27 11:06] Smurf-IV commented on #104
This was caused by the build break when the following where introduced and _fixed_ quickly.. Apologies.

                case PaletteContentStyle.InputControlCustom2:
                case PaletteContentStyle.InputControlCustom3:

[2019-03-27 11:28] Wagnerp opened #105 "Grab radio/checkbox icons for use in new palettes"
At the moment we just have Black, Blue and Silver images. These won't fit the palette colours that I'm planning to introduce, i.e. red, green, orange etc. Wonder if there is a way to extract these images, or create a generic `.psd` file?

[2019-03-27 11:30] Wagnerp commented on #104
Will de-list it.

[2019-03-27 11:57] Smurf-IV commented on #104
It appears that the Exception would only by generated if `Office 2007 Base` or `Office 2010 Base` where in use for the style. (Which is mostly all !)
Currently testing the _fix_

[2019-03-27 12:10] #101 closed

[2019-03-27 12:21] Smurf-IV opened #106 "The Office2010White is the same as Black"

[2019-03-27 12:22] Smurf-IV opened #107 "Office 365 White theme is incorrectly named in the designer"
![image](https://user-images.githubusercontent.com/2418812/55076714-07537980-508e-11e9-8da7-dbee5f37f2a2.png)

[2019-03-27 12:25] Wagnerp commented on #107
Will fix

[2019-03-27 12:25] Smurf-IV opened #108 "ThemeManager has incorrect string matching for designer themes names"
e.g. in following code
[code]
When the designer is passing in "Sparkle - Blue"
![image](https://user-images.githubusercontent.com/2418812/55075662-7380ae00-508b-11e9-8bae-a2d2af0504ce.png)

[2019-03-27 12:27] Wagnerp commented on #106
Umm... possibly the colours weren't properly carried over

[2019-03-27 12:29] Smurf-IV commented on #108
The code should also be made into a switch statement to reduce real-estate.
And
should use the PaletteModeConverter to perform the comparison's.

Note:
Custom may need to be added to that list !

[2019-03-27 12:33] Smurf-IV commented on #105
Look in the resources directory
e.g. `CB2010Blue.bmp`
![image](https://user-images.githubusercontent.com/2418812/55076084-7039f200-508c-11e9-8d50-fe1e0d53fcc4.png)

[2019-03-27 12:37] Wagnerp commented on #107
Are you using the `KryptonManager` or `ThemeManager.cs`?

[2019-03-27 12:41] Wagnerp commented on #105
Are there different colours i.e in PowerPoint or Excel? Or are they all the same?

[2019-03-27 12:42] Smurf-IV commented on #107
Image Taken from the TestApp included with Toolkit solution

[2019-03-27 12:45] Smurf-IV commented on #106
Found by using the TestApp from the Toolkit, and also by using the designer directly.

[2019-03-27 12:55] Wagnerp commented on #107
I've checked the `PaletteModeConverter` and `PaletteModeManagerConverter`, it is named correctly. Where do the strings come from?

[2019-03-27 13:05] #104 closed

[2019-03-27 13:14] Smurf-IV opened #110 "Office 365 White theme is missing from OnUserPreferenceChanged - KryptonManager.cs"
_paletteSparklePurple?.UserPreferenceChanged();

            _paletteOffice365Black?.UserPreferenceChanged();

            _paletteOffice365Blue?.UserPreferenceChanged();

            _paletteOffice365Silver?.UserPreferenceChanged();

            UpdateToolStripManager();
        }

[2019-03-27 13:16] Smurf-IV commented on #107
It is because it missing from `PaletteModeManagerConverter`, therefore it defaults to the enum string equivalent.

[2019-03-27 13:18] Smurf-IV commented on #105
Never use PowerPoint, And hardly ever use Excel, So would not know about the differences in the themes.

[2019-03-27 16:19] Wagnerp commented on #107
Yes, I noticed. I have to re-download the repo, as everything bugged out! :(

[2019-03-27 16:30] #107 closed

[2019-03-27 16:38] Wagnerp commented on #110
This maybe also why Office 2010 White is bugging out.

[2019-03-27 16:40] Wagnerp commented on #106
Yup found the problem!

[2019-03-27 16:57] Wagnerp commented on #106
Silver is white and white is black! Should be easy to fix!!!

[2019-03-28 16:14] #106 closed

[2019-03-28 16:15] #110 closed

[2019-03-28 16:40] Wagnerp commented on #108
I've created a neater method

`   public static void ApplyTheme(PaletteModeManager mode, KryptonManager manager)
        {
            switch (mode)
            {
                case PaletteModeManager.ProfessionalSystem:
                    manager.GlobalPaletteMode = PaletteModeManager.ProfessionalSystem;
                    break;
                case PaletteModeManager.ProfessionalOffice2003:

[2019-03-28 18:49] Wagnerp commented on #108
I've done a Q & D fix, which may fix it

[2019-03-28 19:08] Wagnerp opened #112 "New Themes"
Excel Green
PowerPoint Red
Outlook Orange/Blue
Publisher Green
Access Purple
InfoPath Purple
Groove Green
OneNote Purple
Project Green
SharePoint Orange
Visio Blue

Olive

[2019-03-28 19:10] Wagnerp commented on #112
[#25](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/issues/25)

[2019-03-29 07:36] Wagnerp opened #113 "Missing Palette Features?"
I have no idea where these went?

![Missing Features Win 81 1](https://user-images.githubusercontent.com/949607/55216643-359f9900-51f5-11e9-9a53-0d3ef8017d6b.png)

![Missing Features Win 10](https://user-images.githubusercontent.com/949607/55216665-418b5b00-51f5-11e9-97c4-23bbf159abbf.png)

[2019-03-29 08:09] Smurf-IV commented on #113
I do not understand, What are you stating ? Reset's go in the Properties section, iff the value has changed:
![image](https://user-images.githubusercontent.com/2418812/55218432-00497a00-51fa-11e9-92bf-c2bcb80a073c.png)

[2019-03-29 08:18] Smurf-IV opened #114 "Should we remove the GacUtil.exe now ?"
[Wagnerp/Krypton-NET-5.470] Page build warning

The page build completed successfully, but returned the following warning for the `master` branch:

It looks like you're using GitHub Pages to distribute binary files. We strongly suggest that you use releases to ship projects on GitHub. Releases are GitHub's way of packaging and providing software to your users. You can think of it as a replacement

[2019-03-29 08:30] Smurf-IV opened #115 ""Sparkle Themes" do not work on test App"
Using Yesterdays code, The Sparkle themes selection in the TestApp do not work at runtime.

Note: they work when selected via the IDE Designer, so they are not broken.

[2019-03-29 08:31] Smurf-IV opened #116 "Krypton Manager -> GlobalStrings states that it is modified when they are not!"
![image](https://user-images.githubusercontent.com/2418812/55219532-0f7df700-51fd-11e9-9034-963ea58d0261.png)

[2019-03-29 08:54] #116 closed

[2019-03-29 09:20] Wagnerp commented on #113
In older versions, the `KryptonPalette` component had a feature where the developer could assign a palette definition `xml` file to it.

[2019-03-29 09:24] Wagnerp commented on #114
Yes, that is possibly why the build fails also. I'll do it now.

[2019-03-29 09:28] Wagnerp commented on #114
Should I also remove `UnRegisterFromGAC.bat` &  `gacutil.exe.config`?

[2019-03-29 09:29] Smurf-IV commented on #113
`CustomisedKryptonPaletteFilePath` in the Designer properties ?

[2019-03-29 09:32] Smurf-IV commented on #114
Yes, I'll Also remove the references from the help - "When" I come across them

[2019-03-29 09:37] Wagnerp commented on #113
No, I don't think this works, you could try by importing one of [these](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/tree/master/Source/Palettes) theme files, but I'm not sure if something is broken with `KryptonPalette`s `Import()` method?

[2019-03-29 09:37] Smurf-IV commented on #76
I do not get this bug when using the TestApp, and changing the GlobalPaletteMode to Sparkle - Blue.
It shows in the designer as "Blue" and when running it shows the same colours:
![image](https://user-images.githubusercontent.com/2418812/55223501-368cf680-5206-11e9-96d6-7e928816a702.png)

[2019-03-29 09:38] Wagnerp commented on #114
Ok, will do

[2019-03-29 10:14] Wagnerp commented on #115
I may have forgotten to apply the Sparkle themes correctly.

[2019-03-29 10:30] Wagnerp commented on #115
Simple fix - typos :(

[2019-03-29 10:36] #115 closed

[2019-03-29 16:05] #114 closed

[2019-03-29 18:15] Wagnerp commented on #108
Use ```C#
ThemeManager.SetTheme(string themeName, KryptonManager manager);
[code]

[2019-03-30 11:50] Wagnerp commented on #17
Hi @Smurf-IV

I was just browsing through the help files, have we changed the way [this](https://rawgit.com/Wagnerp/Krypton-NET-4.7/master/Help/Output/articles/palettes.html#built-in-palettes) works since its original incarnation? (Issue #113 & #77)

[2019-03-30 11:58] Wagnerp commented on #113
Hi @Smurf-IV

Might have found out how to do it... You need to set the `KryptonManager` `GlobalPalette` property to `KryptonPalette` **then** load in the theme files.

[2019-03-30 12:07] Wagnerp commented on #113
Hi @Smurf-IV

Success!!!! Well kind of...

![Annotation 2019-03-30 120704](https://user-images.githubusercontent.com/949607/55275862-63174000-52e4-11e9-9e27-bea5752b1c01.png)

[2019-03-30 12:09] Wagnerp commented on #113
![Annotation 2019-03-30 120810](https://user-images.githubusercontent.com/949607/55275891-98239280-52e4-11e9-9380-0386649a061e.png)

[2019-03-30 12:10] Wagnerp commented on #113
Now I can implement it properly in the extended toolkit!

[2019-03-30 12:11] #77 closed

[2019-03-30 12:38] Wagnerp commented on #76
Hi @herledant

I did eventually worked it out, are you trying to load in custom palettes?

[2019-03-30 12:53] Wagnerp opened #120 "Simplify Loading In a Custom Theme with One Method"

[2019-03-30 13:02] herledant commented on #76
Hello Wagnerp,

If i change the global Palette at the form shown, it works.
Else it change it Just in désigner and not in the built application.

[2019-03-30 16:41] Wagnerp commented on #76
Hi @herledant

Is there a way you can upload a video or screen capture so we can better understand what's going on?

[2019-04-01 08:06] Smurf-IV commented on #17
Not intentionally, But from a search I get
"RawGit is now in a sunset phase and will soon shut down. It's been a fun five years, but all things must end." https://rawgit.com/

Also, the URL is incorrect, as it should be `Krypton-NET-5.470` not `Krypton-NET-4.7`
https://rawgit.com/Wagnerp/Krypton-NET-4.7/master/Help/Output/articles/palettes.html#built-in-palettes
So the best thing is to relay the r

[2019-04-01 09:25] Wagnerp commented on #17
Hi, yes sure. Do you want me to re-write the create palettes page, as the information is incorrect. As for relaying the help, I'll look into it.

[2019-04-01 18:13] herledant commented on #76
Of course yes!

[2019-04-01 20-04-00.zip](https://github.com/Wagnerp/Krypton-NET-5.470/files/3030768/2019-04-01.20-04-00.zip)

[2019-04-01 18:49] Wagnerp commented on #76
Hi @herledant

It seems that it's hard coded in your code, so the line in your 'Shown' method is overriding the theme you've set in the designer. If I were you, I'd set up a breakpoint on the 'Load' method, run it, and step through to confirm the values that you are expecting.

[2019-04-02 04:44] herledant commented on #76
No no, its not hard coded. I put it in m'y code to work well.
In fact from the beginiing of the projet and since the first built, i cant
change the palette unless i change it in the shown event. Else it doesnt
work. That's i want to show you with the video

Le lun. 1 avr. 2019 20:49, Peter Wagner <notifications@github.com> a écrit :

[2019-04-02 06:26] Wagnerp commented on #76
Hi @herledant

We did address a bug in the `KryptonManager` last week, but that build isn't released yet. I wonder if it is that bug?

[2019-04-02 16:00] amagico commented on #56
Hi @Wagnerp! is it somehow possible to changed the shadow properties like "Blure" "offset" "Opasity". The example shadow above looks pretty sharp and old school (if you get what I mean).

Thanks

[2019-04-02 17:30] herledant commented on #76
hum... i'm working with the built 5.450.794.
Maybe you could test with the same build to see

[2019-04-02 18:28] Wagnerp commented on #56
Hi @amagico

That could be something to look into. Just submit a new feature request, as this thread was related to a bug. It would be less likely to be ignored as a new issue.

[2019-04-02 18:30] Wagnerp commented on #76
Hi @herledant

I'll try tomorrow, as it's now too late in the day today.

[2019-04-03 07:18] Smurf-IV commented on #17
Yes please, for the rewrite.

[2019-04-03 07:33] amagico opened #121 "[New Feature Request] Drop shadow parameters"
Drop shadow is an important part of the UX. Today #56 the fixed shadow is pretty sharp and will in some use cases blend into the background.
I suggest a feature that you can set the shadow properties:

1. Blur  0-100 px
2. Opacity 0-100 %
3. Offset 0-100 px
4. Offset angle 0-360° (nice to have feature)

This is a more contemporary drop shadow produced with the above parameters:

<img width="602" a

[2019-04-03 07:44] amagico commented on #121
Or, can we today change the current drop shadow properties ourselves? @Wagnerp :-)

[2019-04-03 07:54] mace17 commented on #121
I agree with amagico, it would be much better with 4-sides shadow, I really want this shadow, but unfortunately solutions that I found don't work.

[2019-04-03 10:19] Wagnerp commented on #121
Hi @amagico and @mace17

It isn't available yet, however it could be a feature for a future update. Incidentally, I was thinking about this a few weeks ago.

[2019-04-03 10:23] Wagnerp commented on #17
Will do, also where is the file for the main page, as I noticed a small grammatical mistake?

[2019-04-03 10:58] amagico commented on #121
@Wagnerp that would be much appreciated and a big lift for the overall look and feel of Krypton.
There is quite a lot of sample code out there but by overriding Krypton we encounter trouble such as window resizing (a feature that is very important to keep). A K-integrated shadow would be clever.

Thanks a lot

[2019-04-03 11:37] Wagnerp commented on #17
Note to self: Add in VB .NET syntax

[2019-04-04 09:13] Wagnerp opened #122 "Update Help Images from VS 2005 to VS 2017/19 Where Needed"

[2019-04-04 16:39] Wagnerp commented on #76
Hi @herledant

I've just uploaded build **856** I think this build fixes it

[2019-04-04 19:15] herledant commented on #76
hum it does not...
As you said at the beginning, i can change it in the show event. So this is
not so urgent.
Br

Le jeu. 4 avr. 2019 à 18:39, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-04-05 07:09] Wagnerp commented on #76
Hi @herledant

Is it possible to send some sample code, so I can figure it out?

[2019-04-06 07:52] herledant commented on #76
Hello,
Witch code do you need ?

Le ven. 5 avr. 2019 à 09:09, Peter Wagner <notifications@github.com> a
écrit :

[2019-04-06 08:50] Smurf-IV commented on #121
https://www.w3schools.com/cssref/playit.asp?filename=playcss_box-shadow&preval=20px%2020px%2050px%20grey

[2019-04-06 11:35] herledant commented on #76
Hello Wagnerp,
Coul'd you update the extended toolkit too? I think i found something but i can't build anymore.
Thank's

[2019-04-06 12:36] herledant commented on #76
i should have something wrong in my project because from a new one, you're right, the problem is fix under 856 build.
But i dont find what's wrong in my project.

[2019-04-07 07:51] #113 closed

[2019-04-07 12:54] Wagnerp commented on #76
Hi @herledant

I've updated the extended toolkit, had to fix some bugs, which was the reason for the delay.

[2019-04-07 17:31] Smurf-IV commented on #121
I have been `playing` with several implementations and have been fighting all sorts of wonderful edge cases e.g.
- What happens when the form is moved over a screen edge,
- What happens when the form is being used for docking,
- Max and minimising
- What about other controls (like panels)
- Pop-up windows also have shadows (i.e. menus / tooltips / popup navigator windows / etc)
- Use of DWM
- Use

[2019-04-07 17:51] Smurf-IV commented on #121
OK, I think I will drop the css styling, and allow the above to happen, i.e. specify all 4 side offsets, and a negative will impact the side that it would touch. So a standard diagonal blur would be something like (-10, -10, 10, 10)
[code]

[2019-04-07 18:41] Wagnerp commented on #121
Hi @Smurf-IV

Maybe it could work when the `WindowState` is restored. i.e:

[code]

[2019-04-08 09:18] amagico commented on #121
to be specific, we use WinForms...

[2019-04-08 12:37] Smurf-IV opened #123 "Krypton Toolkit Components Designer Editors do not work in VisualStudio 2019"
- Open an existing project in Visual Studio 2019
- Open the Designer
- Select a Krypton Toolkit item (This was a 5.472 in a .Net 4.8 project !)
- Try and click a drop down item to allow editing
..... Nothing !
![image](https://user-images.githubusercontent.com/2418812/55724424-46c18480-5a03-11e9-9c4a-baa759829f46.png)

[2019-04-08 12:45] Smurf-IV commented on #123
Opening the same project in Studio 2017, then the designers **work**.

[2019-04-08 14:28] Wagnerp commented on #123
It might be a bug with the IDE itself.

[2019-04-09 06:46] Smurf-IV commented on #123
Agreed

[2019-04-09 07:05] Smurf-IV commented on #123
Start a new Test `WinForm Project` in Vis 2019 as .net 4.8
Loaded via Nuget the latest `Krypton 4.8`
Added a `KButton` onto the raw form (i.e. `WinForm` not `KryptonForm`)
Designer works as expected!
Got to move on with something else now...

[2019-04-09 07:29] Smurf-IV opened #124 "ToolTip go boom"
![image](https://user-images.githubusercontent.com/2418812/55781163-732bde00-5aa1-11e9-991d-152d31ed27f4.png)
This was on a NumericUpDowner as I was typing a number in.

[2019-04-09 07:37] Smurf-IV commented on #124
Just tried to repro, and it is not always the NumericUpDowner, the form is very small so I think it is the mouse not being within the form when the timer fires !

[2019-04-09 14:46] SuperDaveOsbourne opened #127 "Super Tool Tips flashes"
I am upgrading from the last commercial release and the only issue is that the tooltip hover just flashes for my super tooltips.  Doesnt seem to matter what I set the Automatic Delay AutoPopDelay ReshowDelay. Just flashes the correct text and then reflashes for a tenth of a second every second.

Any pointers to what has or could have changed during those updates? Maybe where to look?

[2019-04-09 16:17] Smurf-IV commented on #124
it appears that the following call sometimes returns an empty ref
[code]

[2019-04-09 16:46] #124 closed

[2019-04-09 17:54] Wagnerp commented on #127
@Smurf-IV

The issue might be that I need to update the `5.472` & `5.480` NuGet packages. Bit busy setting up my VS 2019 dev environment to do this.

[2019-04-09 18:42] SuperDaveOsbourne commented on #127
KryptonToolkitSsuite5472 on .net 4.7.2.  Tried it both in VS 2019 and 2017 just in case. Same behavior.

[2019-04-09 20:22] Smurf-IV commented on #127
This is what the "Normal" tooltip from winforms does when the mouse becomes part of the Tooltip window (i.e. it it is over the tooltip) use an offset position to inform the tooltip where to locate when it pops-up.
Microsoft now about this, that is why they have changed the behavior in some of their recent apps (And in .net 4.8) to tkae the mouse position out of the equation when a tool tip pops up

[2019-04-10 06:39] Smurf-IV opened #128 "Replace large text in Readme with links to the other projects"
Replace this:
![image](https://user-images.githubusercontent.com/2418812/55856936-b2bafe80-5b63-11e9-9b83-695352e81164.png)

With text that shows the links to the other repositories for the other .Net versions being supported

[2019-04-10 07:18] Smurf-IV opened #129 "Build 856 and Office 2010 Themes have edit areas use grey colour even tho they are enabled"
NumericUpDowner
TextBox
there may be others
It is theme related, (Use the test app), i.e. select Office 2010 - Blue and apply.
The Text box and the ComboBox now use a greyed (Disabled) colour palette. Other themes (Like white) are also affected.
![image](https://user-images.githubusercontent.com/2418812/55859010-04b25300-5b69-11e9-8222-60415815ac52.png)

[2019-04-10 07:22] Wagnerp commented on #128
Will do it today

[2019-04-10 07:41] Smurf-IV commented on #129
Comparison of build 794 vs 856
![image](https://user-images.githubusercontent.com/2418812/55860542-61fbd380-5b6c-11e9-887a-8729975c3ffd.png)

[2019-04-10 08:23] Smurf-IV commented on #129
This was caused by a missed fix from #104
I'll Checkin the fix later. (Probably this evening!)

[2019-04-10 10:41] #128 closed

[2019-04-10 12:23] SuperDaveOsbourne commented on #127
Ok I am confused. What is the resolution to this issue? It won't be fixed it will, or has already been.

[2019-04-10 13:46] Smurf-IV opened #130 "Projects ending in 2018 can be deleted ?"
These are still littered around the codebase
e.g.
![image](https://user-images.githubusercontent.com/2418812/55884103-62fa2880-5b9f-11e9-836f-ee53520061c7.png)

[2019-04-10 14:15] Wagnerp commented on #130
Yes, I don't know why they weren't renamed when I updated the year.

[2019-04-10 16:54] Smurf-IV commented on #127
@SuperDaveOsbourne Try the Placement mode to see if this fixes your issue.

[2019-04-10 16:59] SuperDaveOsbourne commented on #127
I did and where you can use it, it does. A lot of the other ribbon items not so. Was still looking up the food chain to see if I could set it on the tooltip control or somewhere else. Would be nice to see a global setting where all would inherit as the default.

[2019-04-10 17:13] Smurf-IV commented on #127
So which setting is "Good" and which is bad ?
I can then change the default.

[2019-04-10 17:20] #129 closed

[2019-04-10 17:33] SuperDaveOsbourne commented on #127
The ones that I changed to MousePoint seemed to work. But like I said, not many of the controls in my application have that option in the ribbon. Won't really get to spend time with it for another 5 hours and I get home.

[2019-04-10 17:38] Wagnerp commented on #127
Hi @SuperDaveOsbourne

I have updated the NuGet package of `5.472` to build 856 today. That was the last release I uploaded 5 days ago.

[2019-04-10 17:43] SuperDaveOsbourne commented on #127
Didn't seem to change anything in the ribbon controls. 5.472.856.0

[2019-04-10 17:45] Wagnerp opened #132 "Was the `OnDropDownClosed()` event dropped from `KryptonComboBox`?"
Upon updating the toolkit suite for the extended version, I noticed that was no longer valid.

`protected override void OnDropDownClosed(EventArgs e)`

[2019-04-10 17:49] Smurf-IV opened #133 "Place demos into an installer, and remove Nuget references to aid developer use"
When I want to check something with the latest build, I have to keep removing the nuget package from the demo app's
It would be better to have a separate installer / nuget with just the demo exe's and their required Krypton dll's.
And then the demo projects can use the latest built on a developer machine.

[2019-04-10 17:54] Wagnerp commented on #133
I think updating the seperate installer would be better for the demo apps, as if they were to be packaged with the NuGet package, it would bloat the file size to ~150 MB.

[2019-04-10 17:56] Wagnerp commented on #127
Hi @SuperDaveOsbourne

Is it all of or just some of the controls?

[2019-04-10 18:01] Wagnerp commented on #133
Although, saying that, I could create a NuGet package `KryptonToolkitSuite54xxDemos` with just the demos in it?

[2019-04-10 18:02] Wagnerp commented on #133
Strip out the DLLs?

[2019-04-10 18:03] SuperDaveOsbourne commented on #127
Just some

[2019-04-10 18:06] Wagnerp commented on #127
Could you list them please?

[2019-04-10 18:11] #123 closed

[2019-04-10 18:16] SuperDaveOsbourne commented on #127
Yes, I will do a new project to so I can see whats going on that I can share. Going to be later tonight in the US.

[2019-04-10 18:20] Wagnerp commented on #127
That's ok, I'll have a look tomorrow, as we're on BST/GMT time here.

[2019-04-10 18:28] Smurf-IV commented on #133
No, That would just cause more confusion for a starter.
Separate nuget / msi with just compressed bin's and dll's from the one directory.
Then make sure the launch "browser" app works from that same directory.

[2019-04-10 18:35] Smurf-IV commented on #132
**This** is still there .....
[code]

which is then redirected via
`             protected void OnDropDownClosed(EventArgs e) => DropDownClosed?.Invoke(this, e);`

Argh..

I see what has happened... the `virtual` has been removed from this callback redirectors.. It was ReSharper having _fun_!

[2019-04-10 18:59] #132 closed

[2019-04-10 20:10] DarthVader85PA opened #136 "STAThread missing when open a dialog in BackgroundWorker"
In the latest version (Build 856) of the NuGet-Package i get an error that the STAThreadAttribute is missing when I open a KryptonForm in a BackgroundWorker-Run-Method. In the build before the dialog will open normally.

[2019-04-10 20:18] DarthVader85PA opened #135 "Ribbon tab text and window title text is black and bold"
In Version (Build 794) is the ribbon tab text and window title text black and bold. This doesn't fit together.

![grafik](https://user-images.githubusercontent.com/32876506/55910229-30235500-5bde-11e9-88e2-b2b659f103bb.png)

On mouse over on a non selected tab the title-text is normal.

[2019-04-11 15:20] SuperDaveOsbourne commented on #127
Is there a way to PM you a link to my project at dropbox? You can email me at DW.Volume@gmail.com.

[2019-04-11 16:08] Wagnerp commented on #127
Hi @SuperDaveOsbourne

I've sent you an e-mail, so you can send me a link.

[2019-04-11 16:38] SuperDaveOsbourne commented on #127
Done

[2019-04-11 16:52] Wagnerp commented on #127
Yes, I see what you mean. @Smurf-IV Is there a way that I can send it over to you?

[2019-04-11 16:52] Wagnerp commented on #127
Yes, I see what you mean. @Smurf-IV Is there a way that I can send it over to you?

[2019-04-11 16:56] Wagnerp commented on #127
Weirdly, it seems to do it **if** you have multiple lines of text

[2019-04-11 17:02] Wagnerp commented on #127
Is there a maximum image size that you can have, as it seems to do it with large images? @SuperDaveOsbourne can you try resizing your images to either 64 x 64 or 32 x 32 and see if it still persists?

[2019-04-11 17:04] Smurf-IV commented on #127
I accidentally used an image that was 400x400 px, thinking it would resize to a thumbnail.. It doesn't do the resize!
Also in the Elucidate project, I have a Tooltip that fills the entire height of the screen, again from a resource string, and by accident.

[2019-04-11 17:07] SuperDaveOsbourne commented on #127
Don't think its that, it does it on the check boxes with no images too.

[2019-04-11 17:08] SuperDaveOsbourne commented on #127
I think you are right about the multiple lines.

[2019-04-11 17:10] Wagnerp commented on #127
It doesn't do it with one line text. umm...

[2019-04-11 17:15] Smurf-IV commented on #127
![image](https://user-images.githubusercontent.com/2418812/55977039-b9419700-5c85-11e9-99c8-af305fa65947.png)

[2019-04-11 17:15] Wagnerp commented on #127
One thing I don't understand is it doesn't do it if your pointer is in a specific position????????

[2019-04-11 17:26] Smurf-IV commented on #136
[https://stackoverflow.com/questions/6373645/**c-sharp-winforms-how-to-set-main-function-stathreadattribute**]("https://stackoverflow.com/questions/6373645/c-sharp-winforms-how-to-set-main-function-stathreadattribute)"

[2019-04-11 17:28] Smurf-IV commented on #136
The Above, Or I could fix it, so that the STAThread _Law_ that was being broken can _remain_ broken. but this can lead to rather painful debugging when trying to find what may have gone wrong ?

[2019-04-11 17:31] Smurf-IV commented on #135
@DarthVader85PA

1. Does this also happen in the Demo application if you change the style of the font ?
2. What Pallette was currently in use?
3. What OS are you running it on ?
4. What theme is currently active on that OS ?

[2019-04-11 17:32] Smurf-IV commented on #127
Did you get my email ?

[2019-04-11 17:33] Wagnerp commented on #127
Yes, I've sent over the link. It seems to be on a timer.

[2019-04-11 17:41] Wagnerp commented on #136
Hi @Smurf-IV

I think that it would be better adding it to a `troubbleshooting` section in the help file.

[2019-04-11 17:47] Wagnerp commented on #127
Just a thought, could they be tied to a timer?

[2019-04-11 17:54] Wagnerp commented on #127
@SuperDaveOsbourne

There may also be another issue in your app. To use side panels, you need to use the `KryptonDockableNavigator` to get the desired behaviour, otherwise upon hiding the panel, you'll be left with white space.

[2019-04-11 17:59] Smurf-IV commented on #127
They are, that's why there is a delay to show, and a "small" delay to hide, thus causing the flashing.
I have a fix, Just testing now !

[2019-04-11 18:00] SuperDaveOsbourne commented on #127
Thanks, I was doing something in the code to handle that, but will go back and fix it.

[2019-04-11 18:02] Smurf-IV commented on #127
@SuperDaveOsbourne Is this what the older version used to do ?
![image](https://user-images.githubusercontent.com/2418812/55980400-4ee02500-5c8c-11e9-8421-eb990ffb1694.png)

As in, the tooltip was always offset below the Tab bar ?

[2019-04-11 18:05] Wagnerp commented on #127
@Smurf-IV and @SuperDaveOsbourne

Having it offset would make more sense, as it could engulf the button

[2019-04-11 18:16] Smurf-IV commented on #127
I could change the offset, so that it is half-way along the bottom region.
It cannot be in the "Button" region, as that mouse pointer could be "Just" inside, thus back to the flashing.
This is caused by the TabGroup having "Special" tooltip control, which is then routed through to the Krypton Tooltip.
Another way is to change the routing so that it is always uses an offset from the mouse, but if t

[2019-04-11 18:41] SuperDaveOsbourne commented on #127
Emailed  a YouTube link showing them in the past...

[2019-04-11 18:48] Smurf-IV commented on #127
Not to me :-(

[2019-04-11 19:06] SuperDaveOsbourne commented on #127
https://www.youtube.com/watch?time_continue=58&v=lajMgp4tewA   46 seconds in...

[2019-04-12 07:59] Smurf-IV commented on #127
Cheers, then the option for as close as possible will be better all round.
I'll do it this weekend ..

[2019-04-12 08:43] Wagnerp commented on #133
Would you mind testing out the new installer, to see if I missed anything out?

[2019-04-12 13:07] Smurf-IV commented on #133
Is this the release (Needs another name if it is;) or do I have to get the code and build it ?

[2019-04-12 14:01] Wagnerp commented on #133
No, I built the binaries, so no need to build from code.

[2019-04-13 07:29] Smurf-IV commented on #133
[code]

Not sure I "Like" a nuget for installing demo's into an existing solution.. These should be a standalone installer, via the releases, with a link from the ReadMe page.

[2019-04-13 07:34] Smurf-IV opened #137 "nuget tags need to be more extensive / descriptive"
The existing nuget Tags:
![image](https://user-images.githubusercontent.com/2418812/56076230-7cc98480-5dc6-11e9-8233-97cd1f5d6025.png)

Should be extended to include
Controls, DataGrid, Ribbon, Workspace, Tabs, .Net, Docking
So that searches can have a better hit return on this work :-)

[2019-04-13 07:41] Smurf-IV commented on #127
I'll be delivery this:
![image](https://user-images.githubusercontent.com/2418812/56076349-f31ab680-5dc7-11e9-9003-45d7c72f3092.png)

[2019-04-13 07:44] #127 closed

[2019-04-13 08:18] Wagnerp commented on #133
Yes I agree, will put a link to the releases tab on the readme and will de-list KryptonToolkitSuite5470Demos.

[2019-04-13 08:25] Wagnerp commented on #137
Will do on the next release. Probaly tomorrow, been enhancing the `ExceptionHandler` class, so I can implement a proper bug reporting framework to use in apps.

[2019-04-13 08:41] Smurf-IV commented on #130
@Wagnerp "Old" projects removed, I'll now go through and remove the nuget references, so that the demo projects use the current "developer" bin references

[2019-04-13 08:42] Smurf-IV commented on #137
I just use `ExceptionLess` for FOSS projects, it integrates with `NLog` properly.

[2019-04-13 08:53] Wagnerp commented on #137
I was kind of thinking developing a front end, so that users can submit bug reports back to the developer when a app crashes, using the Krypton toolkit as the UI?

[2019-04-13 08:57] Smurf-IV commented on #137
This is what I have done (4 times for different companies) via Krypton controls
![image](https://user-images.githubusercontent.com/2418812/56077297-6a554800-5dd2-11e9-886c-313e9aba7e85.png)

[2019-04-13 09:06] Wagnerp commented on #137
Yes that's what I'm thinking of, then sending the reports off to the developer (of course they will need to configure it to suit their needs, i.e e-mail)

[2019-04-13 09:35] Smurf-IV commented on #133
Completed #130 Projects ending in 2018 can be deleted ?
- Remove Nuget references for Krypton.
- Add direct references to the Krypton Component bin output directory

[2019-04-13 10:32] Wagnerp commented on #133
Do you mean from the demos?

[2019-04-13 12:35] Smurf-IV commented on #133
Yes, Only Krypton references, So when they are built they will be using whatever is on the developers machine.

[2019-04-14 12:40] Smurf-IV commented on #121
Nearly there:
![image](https://user-images.githubusercontent.com/2418812/56092950-dc08c100-5eba-11e9-9322-47515a6be646.png)

[2019-04-14 14:13] #137 closed

[2019-04-14 14:48] amagico commented on #121
nice :)

[2019-04-14 16:13] Tape-Worm opened #141 "Ribbon NumericUpDown not disabling."
I have 2 numeric up down controls on the ribbon, along with 2 labels.

On startup of my application, these labels and numerics should be disabled.  But, only the labels are disabled.

![image](https://user-images.githubusercontent.com/9710137/56096291-91c81580-5ea3-11e9-8ad1-c8a2f555b07d.png)

If I change the Enabled state on the numeric by clicking the "Fixed Size" button, the numerics will disab

[2019-04-14 16:39] Tape-Worm opened #142 "Missing text in ribbon tab"
Upgraded to 890 (latest as of this writing) this morning.

Ran my application and got this:
![image](https://user-images.githubusercontent.com/9710137/56095854-1a43b780-5e9e-11e9-916b-fa0855b049b4.png)

This is what I should be seeing (and did until I upgraded):
![image](https://user-images.githubusercontent.com/9710137/56095920-cd141580-5e9e-11e9-8735-9d18d5d38ae3.png)

This also fails to render

[2019-04-14 16:43] Tape-Worm commented on #142
Just FYI, I'm able to reproduce this issue in your example Application Menu example:
![image](https://user-images.githubusercontent.com/9710137/56096192-1154e500-5ea2-11e9-965d-df20b8f602f9.png)

[2019-04-14 17:02] Tape-Worm commented on #141
And ... now.. for some reason, it's working.  I have no idea why.  I'm going to close this for now since it's working as it should.

[2019-04-14 18:40] Tape-Worm commented on #142
So, for giggles, I've been digging through the code and it appears that the native call to DrawThemeTextEx is not actually drawing anything.  I'm currently trying to see why that might be.

[2019-04-14 19:58] Tape-Worm commented on #142
OK, I managed to find out what the problem was, and how to fix it.

Somewhere along the way, you guys had this in the DrawCompositionText in the AccurateText.cs file:
`IntPtr hDIB = PI.CreateDIBSection(gDC, bmi, 0, 0, IntPtr.Zero, 0);`

And then it got changed to this:
`IntPtr hDIB = PI.CreateDIBSection(gDC, ref bmi, 0, out _, IntPtr.Zero, 0);`

By adding the pass-by-reference keyword, things stop

[2019-04-14 20:10] Tape-Worm commented on #142
I've corrected the issue and submitted a PR (#143) to incorporate it in your next release (which hopefully will be soon, this is a pretty bad bug).

[2019-04-14 20:13] Smurf-IV commented on #142
That should be easy to chnage back,
but
https://www.pinvoke.net/default.aspx/gdi32/CreateDIBSection.html

States it should be an `[in] ref` which is why I changed it..

Here is code that uses it that way
http://www.wischik.com/lu/programmer/1bpp.html

So perhaps it is being "Misused currently"

[2019-04-14 20:15] Tape-Worm commented on #142
Yes, that's right because it expects BITMAPINFO to be a struct, it was a class. Your signature is fine, it's the BITMAPINFO declaration that's wrong.

[2019-04-14 20:19] Smurf-IV commented on #142
Just had a quick look and a lot of the other "types" in there are of mixed format as well.
e.g. `MONITORINFO`
Needs a good tidy-up and review of usages.

Also why is this `PI` class repeated separately in Ribbon ??
Should be at least a "friend" !

[2019-04-14 20:21] Tape-Worm commented on #142
Good question, I noticed that too.  Really should have a single source of truth for those methods.

After I converted BITMAPINFO to use struct, I only counted 2... maybe 3 class types in the PInvoke class.  One (POINTC) looks like it's legitimately being used as a ref type, so changing that might break stuff.

[2019-04-14 20:24] #121 closed

[2019-04-14 21:16] SuperDaveOsbourne commented on #127
The new fix deletes some tabs in the ribbon and removes the text on the tab itself in the project I sent you.. 5.472.890

[2019-04-15 06:21] Wagnerp commented on #142
I'll upload new packages today

[2019-04-15 06:24] Wagnerp commented on #127
Hi @SuperDaveOsbourne

See issue #142 for details

[2019-04-15 07:03] Wagnerp opened #145 "ShadowBox Shown in IDE Designer is inthe wrong place..."
Does anyone else have this issue?

![image](https://user-images.githubusercontent.com/949607/56113159-f2635b00-5f54-11e9-8eb4-68edc6db7bc1.png)

[2019-04-15 07:05] Smurf-IV commented on #145
Yes,
It is from the designer when you enable the shadows and then re-open,
I thought it was useful to give an indication of the "Area" that would be occupied.
I have my IDE on the Left monitor so it looked better.
I can investigate how to disable it

[2019-04-15 07:08] Wagnerp commented on #145
Ahh... sorry I didn't know. Makes sense now, I'll put it in the changelog.

[2019-04-15 08:52] Smurf-IV commented on #135
Please check with the latest (901) as this might be fixed via #142

[2019-04-15 08:58] Smurf-IV opened #146 "PInvoke types should be strctures and not classes"
As per the later conversations in #142

- The PInvoke classes _should be_ structures.
- Only 1 file (Use a file share in the project back to the Toolkit version)
- Fix code that could now be using `ref struct` rather than just `class type`

[2019-04-15 08:58] #142 closed

[2019-04-15 13:01] Smurf-IV opened #147 "Hint does not have a designer Reset option"
![image](https://user-images.githubusercontent.com/2418812/56134646-ee503100-5f86-11e9-90c7-c30da4898077.png)

This means that the reflection API for the hint value has not been created

[2019-04-15 17:09] Smurf-IV opened #148 "License Demo and installer still exist in the code base"
Are these used anywhere now ?

Krypton-NET-5.470/Source/Krypton Components/ComponentFactory.Krypton.Navigator/

![image](https://user-images.githubusercontent.com/2418812/56151602-84954e80-5fa9-11e9-9258-8c711e777090.png)

and what about these?

![image](https://user-images.githubusercontent.com/2418812/56151639-97a81e80-5fa9-11e9-979c-6157f0830759.png)

[2019-04-15 17:17] Wagnerp commented on #148
No, they can be removed

[2019-04-15 17:26] #58 closed

[2019-04-15 17:27] #108 closed

[2019-04-15 18:24] #147 closed

[2019-04-15 18:37] Smurf-IV commented on #133
![image](https://user-images.githubusercontent.com/2418812/56156805-e491f200-5fb5-11e9-88b4-0583771337d8.png)

[2019-04-15 18:41] Smurf-IV commented on #64
Why was this closed ?

[2019-04-16 03:29] Tape-Worm commented on #141
OK, so, for some inexplicable reason, the numerics are no longer staying disabled again on startup.

Here's the weirdness of it all:
I had the numerics disabled in the IDE. I run the app, and go to the tab and the numerics are enabled (they shouldn't be).  So, I _enable_ them in the IDE, and now they're disabled on startup.  When I originally opened this issue, I had the opposite problem. And disa

[2019-04-16 03:45] Tape-Worm commented on #141
OK, so I just ran the **Ribbon Controls 2019** demo, and disabled the numericUpDown1 on the ribbon:
![image](https://user-images.githubusercontent.com/9710137/56180686-a4d40600-5fc7-11e9-9be5-af3741f19441.png)

And when I run the code:
![image](https://user-images.githubusercontent.com/9710137/56180698-adc4d780-5fc7-11e9-8e57-7fe671154f5a.png)

[2019-04-16 04:13] Tape-Worm commented on #141
So, digging through **[KryptonRibbonGroupNumericUpDown.cs](https://github.com/Wagnerp/Krypton-NET-5.470/blob/master/Source/Krypton%20Components/ComponentFactory.Krypton.Ribbon/Group%20Contents/KryptonRibbonGroupNumericUpDown.cs)**, I noticed that the Enabled property uses an internal private variable to store its state.  This is fine, but the underlying control is not updated.

It looks like it ge

[2019-04-16 04:48] Tape-Worm opened #150 "Feature requests for future updates"
I'm not sure if this is where you guys would like to see feature requests, but there's a few things I'd like to see going forward.

Obviously, this is just my critique, so please don't think I'm trashing the library.  It's really good, and it's good to see you updating it on the regular, so it'll only get better.

If I had more time, and I wasn't so invested in my project, I'd gladly start on some

[2019-04-16 07:15] Wagnerp commented on #64
Sorry, thought it was something else, though I thought that Windows Ribbon apps had their icons hidden in the titlebar or put into the 'orb' (2007 style)?

[2019-04-16 07:23] Wagnerp commented on #133
Works for me, did you get a UAC prompt when you clicked `install`?

[2019-04-16 07:31] Wagnerp commented on #150
Hi @Tape-Worm

With regards to more themes, I've actually created 50+ new themes [here](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/tree/master/Source/Palettes), I'm in the middle of creating a 'Theme Generator', though it's taking longer than expected :)

[2019-04-16 07:54] Wagnerp commented on #150
I think the merged ribbon would be a suitable idea for the extended toolkit.

[2019-04-16 18:09] Smurf-IV commented on #148
I was running it from a remote drive, therefore when the UAC was supposed to pop-up, it just bombed out as above.
The installer should either copy local, or state up front that UAC is needed (i.e. use a manifest to make user copy to local machine) via an icon overlay in Explorer (Automatic via manifest)

[2019-04-16 18:12] Smurf-IV opened #151 ""Demo Installed App" -> Settings -> Then Apply Theme: throws unhandled exception"
![image](https://user-images.githubusercontent.com/2418812/56233682-892a3780-607b-11e9-8308-bdaea4f8bd45.png)

[2019-04-16 18:13] Smurf-IV opened #152 "Demo Installer version should really be the same format as the Krypton Components"
![image](https://user-images.githubusercontent.com/2418812/56233733-a9f28d00-607b-11e9-9aa8-cc05eac2ce59.png)

[2019-04-16 18:14] Smurf-IV opened #153 "Demo Installer App -> Release Notes, goes to a downloads page, not reelase notes!"
https://www.somsubhra.com/github-release-stats/?username=Wagnerp&repository=Krypton-NET-5.470

[2019-04-16 18:34] Wagnerp commented on #148
Might need to look for an alternative installer, would WIX work? Or I could try NSIS?

[2019-04-16 18:37] Wagnerp commented on #148
Maybe with this theme?

![image](https://user-images.githubusercontent.com/949607/56235312-1ae77400-607f-11e9-9475-d9a6e724708d.png)

[2019-04-16 18:46] Wagnerp commented on #151
Been fixed in the reuploaded version (I think)

[2019-04-16 19:05] Smurf-IV commented on #148
I use WIX all the time,
As I understand it: Nullsoft would be easier for something like this, because its a "Take directory" and install it with a shortcut to 1 app

[2019-04-16 20:42] #146 closed

[2019-04-16 20:46] Smurf-IV opened #155 "New Shadow feature does not handle "Window bar flashing" as expected"
Repro steps.
- Start test app
- Click on "Show Small Tooltip Form"
- Move form so that it is off the edge of the parent
- Click on the Parent area

Expected:
- Child to flash and shadow to remain on top of parent

Actual:
- Shadow is sent to back
![image](https://user-images.githubusercontent.com/2418812/56242796-f98f8380-6090-11e9-893a-cb9de114e75b.png)

Cause:
- SmellyHack does not work for all

[2019-04-17 13:54] Wagnerp commented on #133
Hi @Smurf-IV

Now I figured out how to get the version of the DLL, should I make a new `About` tab which includes the version of all 6 DLLs?

![image](https://user-images.githubusercontent.com/949607/56293301-b977e180-6120-11e9-9b32-cce1cbbff884.png)

[2019-04-17 14:10] Wagnerp commented on #152
Hi @Smurf-IV

Now I figured out how to get the version of the DLL, should I make a new `About` tab which includes the version of all 6 DLLs?

![image](https://user-images.githubusercontent.com/949607/56293301-b977e180-6120-11e9-9b32-cce1cbbff884.png)

[2019-04-17 14:19] Smurf-IV commented on #152
Just the Toolkit version should do, as that is the version _advertised_ in nuget.

[2019-04-17 14:28] Wagnerp commented on #152
I have to say that getting the file version of an named assembly was far more easier than I imagined! I may include it as a API feature in the extended toolkit!

[2019-04-17 16:46] Wagnerp commented on #133
Hi @Smurf-IV

I may clone the demo code into a new `NuGet Enabled` directory, so I can easily build/release new installers, this will preserve the non-NuGet code.

[2019-04-20 09:00] Smurf-IV opened #156 "New Shadow feature crashes for some variables entered"
Repro Steps:
- Create new form
- Set Shadow values to the following
![image](https://user-images.githubusercontent.com/2418812/56455159-15c24780-6353-11e9-9158-d85378cc311a.png)

- Attempt to add new krypton panel to form
- BOOM

![image](https://user-images.githubusercontent.com/2418812/56455156-02af7780-6353-11e9-93ca-96b958cc4073.png)

[2019-04-21 07:07] Smurf-IV opened #157 "Krypton Text Box control does not draw properly"
In the following image it show a border that is then overwritten by a larger text area for the actual text:

![image](https://user-images.githubusercontent.com/2418812/56466652-4e722780-640c-11e9-80e5-d69a3ebe908a.png)

[code]

[2019-04-21 07:43] Smurf-IV opened #158 "`ThemeManager.PropagateThemeSelector` also needs to work with a `ToolStripComboBox`"
comboBox, in a contextMenu, attached to a ButtonSpec:
[code]

[2019-04-21 07:47] Smurf-IV commented on #158
There is no reason why it cannot just be the ComboBox Base class passed in:
[code]

[2019-04-21 07:55] Smurf-IV opened #159 "ButtonSpecs should also take KryptonContextMenu's"

[2019-04-21 07:57] Smurf-IV opened #160 "`KryptonContextMenu` should have the same controls as the normal `Winforms ContextMenu's`"
Ot at least explain why and how to use similar, e.g. `contextComboBox`

[2019-04-21 11:50] Smurf-IV opened #161 ""Admin" does not show up in forms or MessageBox's"
When debugging an application under Admin, the title is only appended with -[]

Picture shows Visual Studio as Admin, But Debugging app only shows the brackets.

![image](https://user-images.githubusercontent.com/2418812/56469600-f7804880-6433-11e9-837f-bd4f31dce23c.png)

[2019-04-22 06:30] Wagnerp commented on #161
Is that using the methods I've placed in `KryptonForm`?

[2019-04-22 06:32] Wagnerp commented on #158
I'll get to it

[2019-04-22 08:17] Smurf-IV commented on #161
I assume it's to do with the methods added, as the manifest for the application was set to request Admin UAC, hence the IDE having to be in Admin as well

[2019-04-22 08:51] Wagnerp commented on #161
That's odd, as on my end, it doesn't request the IDE to be elevated, and I run it as a normal user

[2019-04-22 08:52] Wagnerp commented on #161
Unless I need to alter the titlebar code

[2019-04-22 08:55] Wagnerp commented on #161
I'll write code in the `TestApp` to show how to use it

[2019-04-22 09:17] Wagnerp commented on #161
Fixed it! I forgot to initialise a property

[2019-04-22 09:19] #161 closed

[2019-04-23 18:08] Wagnerp opened #162 "[Bug] Adding a ribbon control to a blank form causes the form title bar to always be blue (system accent) when selected"
As reported originally by @SuperDaveOsbourne [here](https://github.com/ComponentFactory/Krypton/issues/179)

![image](https://user-images.githubusercontent.com/949607/56605023-1977f780-65fb-11e9-83c4-a92f5b129ad8.png)

![image](https://user-images.githubusercontent.com/949607/56605120-4cba8680-65fb-11e9-9237-3011dc22e689.png)

5.472.720.0

Create a windows form
Nuget KryptonExtendedToolkit5472 or

[2019-04-23 18:13] Wagnerp commented on #162
I don't know if we can specify a single window accent colour without changing the system global settings?

[2019-04-23 18:16] Wagnerp commented on #162
https://www.codeproject.com/Questions/495980/Howplustopluschangeplusthepluscolorplusofplusthepl

[2019-04-23 18:17] Wagnerp commented on #162
https://www.c-sharpcorner.com/forums/windows-form-title-bar-colour

[2019-04-24 14:02] #155 closed

[2019-04-24 14:02] #156 closed

[2019-04-26 07:13] Wagnerp opened #164 "Krypton ToolTip Usage"
Hi @Smurf-IV

I was wondering if it was possible to use `Krypton Tooltip`s on controls outside of this toolkit version, i.e. for use in the `Extended` version, or do I need to implement it on every control, like what you've done here?

[2019-04-26 07:30] Smurf-IV commented on #164
If the extensions can derive from `VisualControlBase` (Or have it in the heirarchy somewhere) then they will get the Tooltip with that. They will also get the `palette` controls and `KryptonContextMenu` etc.

To implement separately, would require mouse tracking, and implementing the `OnShowToolTip, OnCancelToolTip, OnVisualPopupToolTipDisposed` methods.

[2019-04-26 07:36] Smurf-IV commented on #162
I do not think it is a problem with the Office 365: From the Ribbon Demo App:
![image](https://user-images.githubusercontent.com/2418812/56791171-519b5800-67fe-11e9-84d5-f00f435fa2df.png)

[2019-04-26 07:43] Wagnerp commented on #164
I'll look into mouse tracking, as it's for the palette editor app. Maybe for a future update.

[2019-04-26 11:23] SuperDaveOsbourne commented on #162
If you follow my procedure, do you get the same results? Maybe something in the designer or maybe something I am doing wrong?

[2019-04-26 11:34] Smurf-IV opened #165 "`PalletteRibbon` does not know about Office365 elements"
e.g.
```public enum PaletteRibbonShape`

[2019-04-26 11:57] Smurf-IV commented on #162
Even with the `Ribbon Demo App` the designer shows it working, but when run, it does not do "Chrome painting"!
Trying to get to the bottom of this.

[2019-04-26 12:12] SuperDaveOsbourne commented on #162
![image](https://user-images.githubusercontent.com/4176416/56806821-06337a80-67fb-11e9-8118-e36e832e1a1f.png)

Is what I am testing on.

[2019-04-26 12:31] Smurf-IV commented on #162
Related:
https://github.com/ComponentFactory/Krypton/issues/42
https://github.com/Wagnerp/Krypton-NET-5.470/issues/68

[2019-04-26 13:19] SuperDaveOsbourne commented on #162
AllowFormIntegrate = false : Behavior the same.

[2019-04-26 14:12] Wagnerp commented on #165
Will look into it, might be a case of adding them in

[2019-04-26 14:14] Wagnerp commented on #165
Yes only `Office2013` appears

[2019-04-26 14:14] Smurf-IV commented on #162
@SuperDaveOsbourne Agreed, the related, where to show that this is not a **new** problem; and was for me to then clear them up if I found a solution.

In the meantime, If you run the "Memo Editor" example from the `Workspace Examples` solution, then it shows that with the existing code it is possible.

What I have to do now, is find out **_how_** that is working !

[2019-04-26 14:24] Smurf-IV commented on #162
@SuperDaveOsbourne I have found the workaround. I'll do a fix for it soon..
Workaround:
In the Form,
After `InitializeComponent();`
you have to "**Force**" `kryptonRibbon1.AllowFormIntegrate = false;`

[2019-04-26 14:24] Smurf-IV commented on #68
I have found the workaround. I'll do a fix for it soon..
Workaround:
In the Form,
After `InitializeComponent();`
you have to "**Force**" `kryptonRibbon1.AllowFormIntegrate = false;`

[2019-04-26 14:35] SuperDaveOsbourne commented on #162
Yes that does work. Put it right before the resume layout calls. Don't know if it matters where...

[2019-04-26 14:57] #162 closed

[2019-04-26 15:00] Wagnerp commented on #162
@SuperDaveOsbourne

I'll publish a new NuGet package ASAP

[2019-04-26 15:16] SuperDaveOsbourne commented on #162
Spoke to soon, now the ribbon buttons are blue... Will see if it is something on my side.

[2019-04-27 07:06] Smurf-IV commented on #162
The Ribbon Application Menu Test application works as expected for the themes it has, Are you using one of the newer themes ?
![image](https://user-images.githubusercontent.com/2418812/56846156-668def00-68c3-11e9-840d-b70da0ead797.png)

[2019-04-27 09:39] Smurf-IV opened #167 "KryptonContextMenu in KryptonTreeView is not obvious and not designer friendly"
[[Request] KryptonTreeView Node's KryptonContextMenu](https://github.com/Wagnerp/Krypton-Toolkit-Suite-Extended-NET-5.470/issues/30)

[2019-04-27 09:45] Smurf-IV commented on #167
So it appears that it is already there, _**but**_, It is not obvious and it is not really fully designer implemented. So I will change this to a **BUG** and make the fixes as required.
![image](https://user-images.githubusercontent.com/2418812/56847876-84664e80-68d9-11e9-8f51-8e42e4180506.png)

[2019-04-27 09:45] SuperDaveOsbourne commented on #162
Tried all themes.

![image](https://user-images.githubusercontent.com/4176416/56847881-b19e0700-68af-11e9-9401-c936c6b57747.png)

namespace WindowsFormsApp3
{
    partial class Form1
    {
        /// <summary>
        /// Required designer variable.
        /// </summary>
        private System.ComponentModel.IContainer components = null;

        /// <summary>
        /// Clean up any resources

[2019-04-27 10:10] Smurf-IV commented on #160
![image](https://user-images.githubusercontent.com/2418812/56848119-d78dd080-68dc-11e9-9c50-9490d747fa66.png)

 Vs

![image](https://user-images.githubusercontent.com/2418812/56848126-f0968180-68dc-11e9-95e1-0b573530e27e.png)

[2019-04-27 10:11] Wagnerp commented on #162
Hi @SuperDaveOsbourne

I will update the package later today

[2019-04-27 10:12] #167 closed

[2019-04-27 10:31] Smurf-IV commented on #162
You have overridden the global palette !
`this.kryptonRibbon1.PaletteMode = ComponentFactory.Krypton.Toolkit.PaletteMode.Office2007Black;`

So if I set it to white in the Demo app I get this regardless of the the Global Theme chosen:

![image](https://user-images.githubusercontent.com/2418812/56848359-f5a90000-68df-11e9-95a8-7dfdb29d2572.png)

[2019-04-27 11:17] Smurf-IV commented on #160
Oh my..
This is going to take a while !!!!

[2019-04-27 11:30] Wagnerp commented on #160
Looks like it uses a custom dialog, finally managed to merge the dev code into the master branch in the extended toolkit. The `Playground` test app is a lot cleaner now.

[2019-04-27 14:14] Smurf-IV commented on #160
Designer `Add` done:

![image](https://user-images.githubusercontent.com/2418812/56850797-2cdad980-68ff-11e9-89e6-937f17b7942d.png)

[2019-04-28 07:49] Smurf-IV commented on #160
Designer `Item Properties` done:
![image](https://user-images.githubusercontent.com/2418812/56860811-76c0cf80-6992-11e9-8c67-09f36535da42.png)

[2019-04-28 11:26] SuperDaveOsbourne commented on #162
Ok, seems like creeped in when I was trying everything to get the form to corporate.  Sounds like we are good to go.

[2019-04-28 11:35] Wagnerp opened #169 "Should I look into this?"
https://azure.microsoft.com/en-gb/services/devops/?&OCID=AID736752_SEM_2mLya3SN&MarinID=2mLya3SN_79714673948855_azure%20devops_be_c__1275433832898558_kwd-79714836669252:loc-188_

[2019-04-28 12:11] Smurf-IV commented on #169
If "we" had unit tests and the like, then yes, **but**, this is a UI Component project, that requires hosting in forms etc, so I do not think that there is any benefit over GitHub and the views it currently has.

[2019-04-28 12:15] Smurf-IV commented on #130
Demo projects still have the 2018 projects, in the source tree.

[2019-04-28 14:38] Wagnerp commented on #169
Maybe sometime in the future if they integrate GitHub into Azure.

[2019-04-28 14:41] Smurf-IV commented on #169
Well it sort of is....
https://andrewlock.net/building-an-open-source-github-project-using-azure-devops/

[2019-04-28 14:54] Wagnerp commented on #169
I've started to notice the tight integration more with VS 2019. Won't be long until they move the entire platform over to Azure.

[2019-05-06 00:05] minhphuong0401 opened #170 "In Ribbon, application menu auto close after double clock"
When I use ribbon and choose any other theme than Office 2010, the application itself closes after clicking on the application menu 2 times.

The only style prevents this from happening is Office 2010. I am in Windows 10 1903. (It happens with demo app as well)

[2019-05-06 00:06] #170 closed

[2019-05-06 00:09] minhphuong0401 commented on #69
It happens with Office 2013, Office 365 theme as well.
Can you consider to fix it?

[2019-05-07 06:52] Smurf-IV commented on #69
Why not just override / append the `OnClose Event` and return false, to prevent the app from closing .

[2019-05-07 08:29] Smurf-IV opened #171 "Krypton Numeric "Up Downer" content padding is not applied"
![image](https://user-images.githubusercontent.com/2418812/57285197-98186e80-70aa-11e9-9ac7-daa0891236a5.png)  ![image](https://user-images.githubusercontent.com/2418812/57285235-af575c00-70aa-11e9-9d53-3e2399eaaab2.png)

[2019-05-08 13:36] Smurf-IV opened #172 "Krypton ComboBox "Closed Content" Padding is not applied"
![image](https://user-images.githubusercontent.com/2418812/57379300-916b2380-719e-11e9-8db8-c4ec503e029f.png)  ![image](https://user-images.githubusercontent.com/2418812/57379324-9d56e580-719e-11e9-8cb2-7c5675a9cd11.png)

The items should be "Shoved over" by 10 Pixels (Or any other number !)

[2019-05-08 13:37] Smurf-IV opened #173 "Krypton ComboBox "Closed Content" should have Text Align like the Drop list does"
See the designer from #172 . It does not have alignement for the content display area

[2019-05-11 12:14] Smurf-IV commented on #160
This is not going well, I can now see why it was left out. Its a PIA.

[2019-05-12 08:22] Smurf-IV opened #175 "The "public" `View Layout` classes should be combined with the panels to allow designer layouts"
i.e. the `ViewLayoutCenter` class can be combined with a `KryptonPanel`, to allow control(s) to be auto centered, when the parent form changes size.

and, `ViewLayoutFit` to "will split the space equally between the children" in the orientation provided.

[2019-05-12 08:39] Smurf-IV commented on #159
It's already there, just hidden when in Alphabetical list..
![image](https://user-images.githubusercontent.com/2418812/57579832-b7900c80-7499-11e9-9ae6-7d50a72b08ab.png)

[2019-05-12 08:39] #159 closed

[2019-05-14 12:39] mace17 opened #176 "Can not hide checkboxes for nodes in KryptonTreeView"
After changing a regular TreeView to a KryptonTreeView, hiding check boxes for nodes does not work.
This is code that I use http://dotnetfollower.com/wordpress/2011/05/winforms-treeview-hide-checkbox-of-treenode/.

Does anyone have idea why this does not work?

[2019-05-14 14:39] minhphuong0401 opened #177 "[BUG] Control in Krypton Ribbon Properties binding is not working"
**Describe the bug
Properties binding is not working for all control in Ribbon

**To Reproduce**
Steps to reproduce the behavior:
1. Drag Krypton Ribbon to any new form
2. Create new tab and new group
3. Add a checkbox to the group
4. Bind Checked properties of the checkbox to a variable in Settings
5. Setup Form Closing event to save the settings
6. Run the form, change the checked state of the c

[2019-05-18 09:31] Smurf-IV commented on #176
I have found the reason...
from inside the Krypton code it does this ->
[code]
Meaning, that it _Always_ draws the checkbox,  if the TreeView has it turned on, regardless of the node state value.

[2019-05-18 11:40] Smurf-IV commented on #176
The Following code will need an updated Krypton Components (Or build directly)
It will include an updated KryptonTreeView Example:
![image](https://user-images.githubusercontent.com/2418812/57969040-f62a3900-7969-11e9-85df-19f102efb2b1.png)

Code to toggle the CheckBox Visibility
[code]

And (Optional) add an event handler on the treeview to do this:
[code]

[2019-05-18 11:50] #176 closed

[2019-05-18 11:52] Smurf-IV opened #179 "KryptonTreeView with CheckBox and Image does not leave a "Gap""
![image](https://user-images.githubusercontent.com/2418812/57969148-bcf2c880-796b-11e9-9d22-53f9b3413e6f.png)

[2019-05-18 11:56] Smurf-IV opened #180 "AppVeyor builds are not working"
Users cannot "Get" the latest because the output build from AppVeyor does not work:

https://ci.appveyor.com/project/Wagnerp/krypton-net-5-470/history

[2019-05-18 12:03] Smurf-IV commented on #145
@Wagnerp Is this still a thing with the latest code and IDE, I do not seem to get it anymore since the re-write of Shadows ...

[2019-05-18 12:09] #130 closed

[2019-05-18 12:15] #148 closed

[2019-05-18 12:16] #84 closed

[2019-05-18 12:25] Smurf-IV commented on #179
Fixed
![image](https://user-images.githubusercontent.com/2418812/57969567-6340cd00-7970-11e9-88ae-dc6b67ebde79.png)

[2019-05-18 12:27] #179 closed

[2019-05-18 15:35] Wagnerp commented on #180
Is AppVeyor for unit testing, if so I'll try to disable it.

[2019-05-18 15:48] Wagnerp commented on #145
@Smurf-IV I'll check it out ASAP (probably be Monday)

[2019-05-18 20:39] Smurf-IV commented on #180
It should be for performing builds, and then the artifacts can be downloaded by those who want cutting edge builds,
It has probably not been set up for .Net, I've never used for this type of project, but other have got it working within GitHub to produce .Net projects.

[2019-05-19 07:50] Wagnerp commented on #180
I'll have a look into it.

[2019-05-19 07:52] Smurf-IV opened #184 "Krypton Domain UpDowner Content padding is not applied"
![image](https://user-images.githubusercontent.com/2418812/57979275-57f2ad80-7a13-11e9-8fa9-9c9d0e447e02.png)

[2019-05-19 11:44] Wagnerp commented on #145
Hi @Smurf-IV

The issue seems to be fixed.

[2019-05-19 12:59] #145 closed

[2019-05-20 07:37] Wagnerp commented on #180
Hi @Smurf-IV

I've removed AppVeyor from the builds.

[2019-05-20 22:25] herledant commented on #161
Hello Wagnerp,
when the application is running with elevated right (admin) the property isAdministratorMode never change to true.
is it normal?
How can i check if the app is running as admin?
I use the krypton extended 5.450.937

[2019-05-21 06:51] Wagnerp commented on #161
Hi @herledant

The code is integrated straight into `KryptonForm`. You could try tying the code to a button.

[2019-05-21 07:13] herledant commented on #161
ok so this property is not linked if the application is in admin mode.
Is there  a way to retreave the "adminmode" statut?
I would like to know if the app is tunning as admin or not and propose to the user to restart app in case of elevation need.

[2019-05-21 08:45] Wagnerp commented on #161
No, if I recall, that property is linked to the current user's privileges, it's been so long that I've written that code, that I'll need to look at what's happening.

[2019-05-21 15:28] herledant commented on #161
hum, it's strange because the administratror text of form appear  if i start the program as admin and that is this status i try to catch

[2019-05-21 15:54] Wagnerp commented on #161
Are you trying to launch an external app, or the same one that you're developing?

[2019-05-21 17:38] herledant commented on #161
hello, i restart the application itself as admin.
It works well but i want to do it only if the application isn't previously
start as admin.
That's why i would like to know if it's the case or not as krypton form
know it at launch...

Le mar. 21 mai 2019 à 17:54, Peter Wagner <notifications@github.com> a
écrit :

--
Herledant Fabien

[2019-05-21 18:10] Wagnerp commented on #161
Ok, in that case then just put in **each** of the window **load** code:-

[code]

[2019-05-21 18:44] herledant commented on #161
Great!!! This is exactly what i'm looking for!
Wonderfull!

[2019-05-22 06:05] Wagnerp commented on #161
Hi @herledant

I'm working on it now, it'll be part of the July update.

[2019-05-22 10:03] herledant commented on #161
Ok Thanks a lot for support

Le mer. 22 mai 2019 à 08:05, Peter Wagner <notifications@github.com> a
écrit :

[2019-05-23 13:38] jpatte opened #185 "Adding/Removing Ribbon tabs can cause NullReferenceException"
Hello,

We have an app that dynamically adds and removes ribbon tabs depending on the context. We have observed that a NullReferenceException in `ViewDrawRibbonGroupsBorderSynch` may cause the app to crash occasionally.

The problem is in ComponentFactory.Krypton.Ribbon\View Draw\ViewDrawRibbonGroupsBorderSynch.cs, line 72: the code checks if `Ribbon.SelectedTab` isn't `null` but, unlike all the o

[2019-05-23 17:33] Wagnerp commented on #185
Hi @jpatte

Thank you for the message, this is the correct repository to pull requests to fix any issues that you find, as this is used for every other published version.

[2019-05-23 17:53] Wagnerp commented on #185
Hi @jpatte

Is this what you mean?

[code]

[2019-05-23 19:44] jpatte commented on #185
Hi, actually what I mean is:

[code]

We need to check if `_tabToView` contains an entry for `Ribbon.SelectedTab` otherwise `_tabToView[Ribbon.SelectedTab]` could throw an exception. That same check is already done in all the other methods of this class.

Thanks for letting me know about the repo, I'll submit pull requests if I stumble upon any other issue.

[2019-05-24 07:00] Wagnerp commented on #185
Just added the fix, it'll be included in the next update.

[2019-05-24 07:39] Wagnerp opened #186 "[BUG] Drop Shadow appears to be red in 1903"
Since upgrading from 1809 to 1903 `10.0.18362`, drop shadows appear to be red instead of grey.

![Annotation 2019-05-24 083742](https://user-images.githubusercontent.com/949607/58310832-797edb00-7dff-11e9-8098-b5d3ec330744.png)

[2019-05-24 07:41] Wagnerp commented on #186
My mistake, change the colour value!!!!!!!!!!!!!!

[2019-05-24 07:41] #186 closed

[2019-05-24 07:47] Wagnerp commented on #161
Hi @herledant

I can tell you that this feature is already in the toolkit, just change the `AdministratorText` value on every `KryptonForm`.

[2019-05-24 16:10] jpatte commented on #185
Great, thanks!

[2019-05-25 12:14] Smurf-IV commented on #157
This is not a "Bug" per se, as the values that have been provided state -1,
_Padding_**(10, -1, -1, -1)**;
As specified, the edit area is expanded by -1 on each of the other 3 sides, therefore drawing over the 1 pixel border !

[2019-05-25 12:14] #157 closed

[2019-05-26 07:25] Smurf-IV opened #187 "KryptonComboBox does not support "Simple Style" and throws exception in Designer"
![image](https://user-images.githubusercontent.com/2418812/58378671-9ba76300-7f8f-11e9-8e70-4712b4708c42.png)

If it does not support it, then remove the styles.
No idea what would happen if done at runtime !

[2019-05-26 08:03] Wagnerp commented on #187
I think that it uses the standard winform styles. Is there any way to override it?

[2019-05-26 09:13] Smurf-IV commented on #187
Yes, and Yes

[2019-05-26 09:42] Wagnerp commented on #187
On another issue, we can now depreciate `TaskDialogs` in this repo, as I requested permission to use [this](https://github.com/kpreisser/TaskDialog), and the author said yes provided that I give credit where needed.

[2019-05-26 12:05] Smurf-IV commented on #172
DropList
: Enabled - Sorted
: Disabled - Sorted
DropDown
: Enabled - Not Happening
: Disabled - Sorted !!

![image](https://user-images.githubusercontent.com/2418812/58381618-d7095800-7fb6-11e9-8338-9334b5ee6408.png)

I might have to Replace the Whole Edit area with something that allows paint control (i.e. KryptonTextBox)

[2019-05-26 12:08] Smurf-IV commented on #172
I might have to Replace the Whole Edit area with something that allows paint control (i.e. KryptonTextBox)

[2019-05-26 20:45] Smurf-IV commented on #187
Not used them in a long time......

Will this not need the CommandLink button from the Extended set to be brought over ?

[2019-05-26 20:50] Smurf-IV commented on #186
It also looks like you had the  `Use Drop Shadow` from the old method enabled as well.

[2019-05-27 07:01] Wagnerp commented on #187
I think I'll use the extended version to introduce it, so there will be no crossover with controls.

[2019-05-27 07:49] Wagnerp commented on #82
Hi @Tape-Worm

Was this a issue affecting ribbon tabs or was this fixed?

[2019-05-27 09:10] Smurf-IV commented on #172
![image](https://user-images.githubusercontent.com/2418812/58409250-9b7a9680-8067-11e9-946f-b7be4a9fcc0e.png)

[2019-05-27 09:10] Smurf-IV commented on #171
![image](https://user-images.githubusercontent.com/2418812/58409266-a03f4a80-8067-11e9-9244-7c86c8706a52.png)

[2019-05-27 09:10] Smurf-IV commented on #173
![image](https://user-images.githubusercontent.com/2418812/58409290-ab927600-8067-11e9-8410-f19432d1cd47.png)

[2019-05-27 09:17] #173 closed

[2019-05-27 09:17] #171 closed

[2019-05-27 09:17] #172 closed

[2019-05-27 09:20] Smurf-IV commented on #184
Fixed as part of Merge #188

Fix #173: Krypton ComboBox "Closed Content" should have Text Align like the Drop list does
Fix #172: Krypton ComboBox "Closed Content" Padding is not applied
Fix #171: Krypton Numeric "Up Downer" content padding is not applied
- Override the Drawing of the text
- Fight the ComboBoxEdit Control
- Fix some more spelling mistakes
- Add a demo to Show the Formatting applie

[2019-05-27 09:20] #184 closed

[2019-05-27 10:32] #185 closed

[2019-05-27 10:47] #187 closed

[2019-05-28 12:45] PontusLindberg opened #190 "[BUG] Scaling of Krypton Forms with multiple monitors"
Scaling of Krypton forms do not work when dragging them between monitors with different scaling.

When you use multiple monitors and they have different scaling (for example a full hd laptop with 100% and a 4K screen with 150%), Krypton forms are not scaled according to the monotor settings when dragging them from one monitior to the other. Regular windows forms are scaled depending on the setting

[2019-05-28 13:21] Smurf-IV commented on #190
Just Checking: @PontusLindberg Have you set the following in your app.config

     <System.Windows.Forms.ApplicationConfigurationSection>
         <add key="DpiAwareness" value="PerMonitorV2" />
     </System.Windows.Forms.ApplicationConfigurationSection>

And in the App.Manifest:

[code]

[2019-05-28 13:22] Smurf-IV commented on #190
May be related to #73

[2019-05-28 13:24] PontusLindberg commented on #190
Thanks @Smurf-IV, I will check and get back to you.

[2019-05-28 14:13] PontusLindberg commented on #190
@Smurf-IV , the Krypton forms we use are in dlls which are 'add-ons' to an Autodesk application. As long as we stick to regular Windows forms, those are scaled correctly when dragged between monitors. When we change to Krypton, the scaling when dragging between monitors stop working. When we change back to Windows forms, it works fine again.

[2019-05-28 16:31] Wagnerp commented on #190
Have a look at this: https://docs.microsoft.com/en-us/dotnet/framework/winforms/high-dpi-support-in-windows-forms I thought that the app.config configuration was only supported in 4.7 and higher?

[2019-05-28 16:35] Wagnerp commented on #190
**EDIT:** Yes high DPI awareness support _**only**_ exists in .NET 4.7 or higher: _Starting with the .NET Framework 4.7, Windows Forms includes enhancements for common high DPI and dynamic DPI scenarios. _

[2019-05-28 16:57] PontusLindberg commented on #190
Aha, so we need need newer Krypton dlls?

[2019-05-28 17:24] Wagnerp commented on #190
Yes, 5.470 has this configuration built into it, but you'll also may need to re-target your projects to .NET 4.7 or newer.

[2019-05-29 17:35] Tape-Worm commented on #82
It was affecting the ribbon on some level, I don't know if it was specifically the tabs or not.  But it was due to my merging/unmerging code and the layout of the ribbon not being updated correctly (my fault).

I haven't had it pop up since I fixed my merging code, so I think it's safe to assume it's fixed on my end. The suggestion I left was regarding the dictionary that wasn't being tested for m

[2019-05-30 07:36] #82 closed

[2019-06-04 10:10] DarthVader85PA opened #191 "KryptonContextMenu for KryptonDataGridView"
Is it possible in the future to add a property for the KryptonDataGridView that provides a choice for a KryptonContextMenu, like ContextMenuStrip?

Thanks

[2019-06-04 14:41] Wagnerp commented on #191
Hi @DarthVader85PA

I moved the feedback to here, as the standard toolkit contains the mentioned `KryptonDataGridView`.

Thanks

[2019-06-04 16:12] #135 closed

[2019-06-04 16:12] #136 closed

[2019-06-08 08:53] Smurf-IV opened #192 "[BUG] KryptonDataGridView ComboBox does not work anymore"
Run the `KryptonDataGridView Examples`
Expected:
- Clean load and the comboBox column to work as expected

Actual:
- It;s broken and reports dataErrors

[2019-06-08 08:56] #191 closed

[2019-06-08 09:02] Wagnerp commented on #190
Removed `bug` label, as .NET Framework 4.7 or higher is required for high DPI scaling.

[2019-06-08 09:02] #190 closed

[2019-06-08 09:04] #180 closed

[2019-06-08 09:35] #192 closed

[2019-06-08 10:19] Smurf-IV commented on #158
Confirmed working

[2019-06-08 10:19] #158 closed

[2019-06-08 12:17] Smurf-IV commented on #177
It turns out that "None" of the `Krypton Ribbon bindable properties` work !

[2019-06-08 12:20] Smurf-IV commented on #177
@minhphuong0401 you will need to get the latest code, and then remove and then re-add the `PropertyBinding` so that the designer then fills in the correct `(DataBindings)` section:
![image](https://user-images.githubusercontent.com/2418812/59147165-2a849880-89f0-11e9-811b-fab8a56a91f3.png)

[2019-06-08 12:23] #177 closed

[2019-06-08 12:28] Smurf-IV commented on #50
![image](https://user-images.githubusercontent.com/2418812/59147252-39b81600-89f1-11e9-9ec5-45809b130aeb.png)

[2019-06-08 14:43] Wagnerp commented on #50
Yes, I don't know why this happens, as all relevant assets are in the root

[2019-06-16 05:19] rahulmaxi opened #197 "DateTimePicker max date"
Hi,

Is there anyway DateTimePicker max date can be set to 9999-12-31?
At the moment it can be set max to 9998-12-31.

Thanks,
Rahul

[2019-06-17 14:15] mace17 opened #196 "Update dll to latest one."
Hi, I use Krypton dlls 4.6 version, but I want to update to latest Krypton dlls. I have problem because after changing dlls forms are not show in designer, I have error (see below).
I did clone https://github.com/Wagnerp/Krypton-NET-5.471 this repository ,built solution and change dlls, I use VS2017 .Net Framework 4.7.1 for my project.
Also if I try to add controls in toolbox for Navigator dll it

[2019-06-17 14:24] Smurf-IV commented on #196
Hi, did you use the "Old" method of registering the designers in the GAC?
If so then best go back to that version and remove the Gac registration (From memory, There should be a comand file that does that).

The newer version here, do not need the gac registration, and do work with Visual Studio desinger when Dragged over.

[2019-06-17 14:31] mace17 commented on #196
No, I did not use

[2019-06-17 14:43] Smurf-IV commented on #196
you've stated that you have downloaded the code, then I suggest that you open the Example projects and check that they work on your system.

[2019-06-17 16:35] mace17 commented on #196
I found what was the problem, it is my mistake, sorry.

[2019-06-17 16:35] #196 closed

[2019-06-20 07:16] Wagnerp commented on #197
Hi @Smurf-IV

Is this bug due to the fact that `DateTime.MaxValue` is a 32 bit integer?

[2019-06-20 14:26] mace17 opened #198 "DrawItem event for KryptonComboBox"
Hi, I can't find DrawEvent for KryptonComboBox , should it be here https://github.com/Wagnerp/Krypton-NET-5.471 or it's available only for extended toolkit ?

[2019-06-20 15:43] #153 closed

[2019-06-20 15:44] #151 closed

[2019-07-01 08:08] Smurf-IV opened #199 "NumericUpDowner needs to have the "DecimalPlaces" visible in the designer"
It's public BUT not visible in the IDE designer

    /// <summary>Gets or sets the number of decimal places to display.</summary>
    [Category("Data")]
    [Description("Indicates the number of decimal places to display.")]
    [DefaultValue(0)]
    [Browsable(false)]
    public int DecimalPlaces

[2019-07-01 08:19] Smurf-IV opened #200 "[BUG] NumberUpDowner should respect the use of decimal places and TrailingZeroes"
When displaying text, the number of decimal places used is not respected by the `KryptonNumericUpDowner`.
This is probably because it is not using the  internal `GetNumberText(Decimal num)` to get the text string when it is drawing the text !

[2019-07-01 12:04] Smurf-IV commented on #198
For some reason the event is hidden in the designer, but it is a public Event that can be attched to:

        /// <summary>
        /// Occurs when [draw item].
        /// </summary>
        [Browsable(false)]
        [EditorBrowsable(EditorBrowsableState.Never)]
        public event DrawItemEventHandler DrawItem;

[2019-07-01 16:57] Wagnerp commented on #199
Does it  have the `{ get; set; }` to make it a property?

[2019-07-02 06:22] Smurf-IV commented on #199
Just find the code block, I placed in the 1st comment, and remove the `[Browsable(false)]`

[2019-07-02 07:38] Wagnerp commented on #199
Done!

[2019-07-02 07:43] Wagnerp commented on #199
Is there any reason why the default value for `DecimalPlaces` is set to **99**?

[2019-07-03 07:22] #199 closed

[2019-07-03 07:30] Wagnerp commented on #198
All events are set to `[Browsable(false)]`?????

[2019-07-03 13:33] fdncred opened #201 "[Question] Which DockingEdge Page is Docked on?"
How do I tell which DockingEdge a Page is docked on? It looks like DoDragDropEnd() is part of the equation but I can't figure out where to go from here. The below code doesn't help because it always shows the edge.Edge as the DockingEdge where the page was created.
[code]

[2019-07-03 15:21] mace17 opened #202 "Minimal height for KryptonForm"
Hi,
Why minimal height for KryptonForms is set on 78 px.? I have collapse option on my forms where I set form height on 40 px.
I use old dlls and its possible to set that height, but now I want to use new dlls and I found this "defect".

[2019-07-04 11:30] mace17 opened #203 "KryptonCombobox does not have DrawMode and IntegralHeight properties"
KryptonComboBox does not have DrawMode property, also it would be nice if DrawItem is visible in designer.

[2019-07-04 11:44] mace17 commented on #203
Same for IntegralHeight.
It would be really useful if you can implement these proprties.

[2019-07-05 17:27] Wagnerp opened #204 "[New Feature Request]: **KryptonMaskedTextBox** needs a hint property"
See `KryptonTextBox`

[2019-07-06 09:10] Smurf-IV commented on #197
`KryptonDateTimePicker` has a value that is `_maxDateTime = DateTime.MaxValue;`
which can be changed via

        [Category("Behavior")]
        [Description("Maximum allowable date.")]
        public DateTime MaxDate

`DateTime.MaxValue;` according to MSDN is:

**BUT**
the `DateTimePicker.MaximumDateTime` is also in use here!

    /// <include file='doc\DateTimePicker.uex' path='docs/doc[@for="Da

[2019-07-06 09:10] #197 closed

[2019-07-06 09:20] Smurf-IV commented on #202
This is possibly related to the fixes for #54 and #74

The `min Y` is set by '

                mmi.ptMinTrackSize.Y = Math.Max(mmi.ptMinTrackSize.Y*2, MinimumSize.Height);

to allow the title bar, and a status bar to be sensibly displayed the `mmi.ptMinTrackSize.Y*2` is used from the 'PI.MINMAXINFO mmi = (PI.MINMAXINFO)Marshal.PtrToStructure(m.LParam, typeof(PI.MINMAXINFO));' that is passed to th

[2019-07-06 09:34] Smurf-IV commented on #202
The reason for the won't fix, is as above, However, if you want to override the the  OnWM_GETMINMAXINFO(ref Message m) call, then you still can, and that will allow you to set a smaller minimum for the form you are wanting to control.

[2019-07-06 09:49] Wagnerp commented on #202
I agree, with 4k displays, setting sizes too small will result in microscopic UI results.

[2019-07-06 10:01] #200 closed

[2019-07-06 10:09] Smurf-IV commented on #198
From what I can understand in the `WinForm` code....
If an event exists in a base class, and it directly derived, and an event is being replaced then, `[Browsable(false)]` is used, e.g.

        [Browsable(false)]
        [EditorBrowsable(EditorBrowsableState.Never)]
        public new event EventHandler TextChanged;

If it is a new event, then it need to be exposed, so that the designer can pick

[2019-07-06 10:33] Smurf-IV commented on #203
#198 will sort the drawItem

[2019-07-06 10:45] Smurf-IV commented on #203
`DrawMode` has to be hidden in order for the Krypton styling to happen, i.e. it is forced to

    _comboBox.DrawMode = DrawMode.OwnerDrawVariable;

[2019-07-06 10:46] #198 closed

[2019-07-06 10:46] #203 closed

[2019-07-08 17:11] #204 closed

[2019-07-12 12:06] Smurf-IV opened #207 "[BUG] KryptonTrackBar throws an unhandled exception when double clicking on small bar"
**Describe the bug**
As above,

**To Reproduce**
Steps to reproduce the behavior:
- Click on TrackBar to change value
- click on another control to gain focus
- Double click in Trackbar line area
- Sometimes happens on a single click

**Expected behavior**
Move the bar to the click location

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.g

[2019-07-15 07:32] Smurf-IV opened #208 "[Enhancement] Some event from (Panel probably) that allows Forms to know when the GlobalTheme has changed"
If you are trying to control the background colour of "Normal" `winform controls`, and need to make them look the same as the current theme, then it would be good to have an event when the global Theme (Via Krypton manager etc) that is routed through `KryptonPanel` (So that `UserControl`s can get to it), so that the `####Panel.StateCommon.GetBackColor1(PaletteState.Normal);` call can be used to ge

[2019-07-15 09:02] rahulmaxi opened #209 "[Question]: DLL files"
Hi,
When I installed this package with Nuget package manager in VS2013 for C# project, I couldn't find dll files added in references neither in package directory to create manual references.
Can you please help me through if I am doing something incorrect.

Thanks,
R.

[2019-07-16 06:45] Wagnerp commented on #209
Hi @rahulmaxi

Which package did you install, as you may need the full toolkit or to download other modules?

[2019-07-16 12:37] borismatthews opened #210 "[Question]: Upgrade Krypton Toolkit in Visual Studio Project"
I hope that asking this question here is appropriate!

I have several existing .net projects that use the 4.4 release of the Krypton Toolkit and am keen to upgrade this to the latest version on GitHub to take advantage of the bug fixes etc.

I am unclear about how to do this - I have tried changing the toolkit references in the VS project but then VS complains that all the components used are 'not

[2019-07-16 14:45] Wagnerp commented on #210
Hi @borismatthews

Are you using the original `4.4.0` release? If so, have you tried downloading the newer NuGet packages?

[2019-07-16 14:56] borismatthews commented on #210
Hi

Thanks for responding so quickly.

Yes, I am using the original 4.4.0 from Component Factory.

I downloaded and installed version 5.470.872 from GitHub (did not use NuGet, just downloaded the exe file).

It appears that the name of the reference is different and so maybe that is why Visual Studio cannot match the references of the controls to the dll’s?

The 4.4.0 references appear as follows:

[2019-07-16 16:01] Wagnerp commented on #210
Hi @borismatthews

What version of the .NET framework are you using?

[2019-07-17 07:30] borismatthews commented on #210
Peter

Sorry, I was targeting 4.0, have changed to 4.7.2 and all OK now.

Also, I see that you have the “Krypton-Toolkit-Suite-Extended-NET-5.470” project, is this intended to be used in addition to the standard toolkit or in place of?

Thanks
Andy

From: Peter Wagner <notifications@github.com>
Sent: 16 July 2019 17:01
To: Wagnerp/Krypton-NET-5.470 <Krypton-NET-5.470@noreply.github.com>
Cc: Andrew

[2019-07-17 07:57] Wagnerp commented on #210
Hi @borismatthews

The `Krypton-Toolkit-Suite-Extended-NET-5.470` is an additional set of controls, dialogs etc that can be used in conjunction with the standard toolkit. Glad you managed to find out what the issue was.

[2019-07-17 09:33] borismatthews commented on #210
Hi Peter

I was hoping that the updated controls would fix an issue I have in the Visual Studio designer but unfortunately it has not.

Using VS2017 on Windows 7 machine the control spacing at design time is correct but when I upgraded to a Windows 10 machine and VS2017 the spacing around the Kypton ComboBox at design time is incorrect.

If you look at this screenshot you can see that at design ti

[2019-07-17 12:09] fdncred commented on #201
Any ideas?

[2019-07-17 14:36] rahulmaxi commented on #209
Hi @Wagnerp ,

Thanks for your response. I have installed package KryptonToolkitSuite5470 -Version 5.470.1231.
This what I have done
![image](https://user-images.githubusercontent.com/51871905/61384325-00b37100-a8ce-11e9-96c0-e0c65be51828.png)

Could you please suggest what else I am missing or should install to get it working.

Thanks,
Vikrant.

[2019-07-17 17:31] Wagnerp commented on #209
Hi @rahulmaxi

If it compiles correctly, then you should be able to use the toolkit as normal.

[2019-07-17 17:36] Wagnerp commented on #210
Hi @borismatthews

Unfortunately, the screenshots don't appear. I would suggest opening a bug report detailing the problem that you have with the padding.

[2019-07-18 06:44] Smurf-IV commented on #209
The Krypton components are not shoing up in the project, but you have installed them at the solution level.
What version of the .Net framework have you set your project to ? (i.e. 5.**470** requires .Net **4.70**)

[2019-07-18 06:59] borismatthews opened #211 "ComboBox Design Time Spacing"
Using VS2017 on Windows 7 the ComboBox control spacing at design time is correct but when using a Windows 10 and VS2017 the spacing around the ComboBox at design time is expanded but looks OK when the application runs.  If you make the space equal at design time then at run time it is not correct.

See screenshot of how this looks at design time to get equal spacing at run time, clearly not so eas

[2019-07-18 14:13] Smurf-IV commented on #211
I suspect it is the theme that is being used at design time is different from the one used at runtime, especially if it based on system.

[2019-07-18 14:14] Smurf-IV opened #212 "[BUG] KryptonContextMenu not visibile in designer for GroupBox Panel"
![image](https://user-images.githubusercontent.com/2418812/61464758-b930f180-a96e-11e9-8581-a2bc8fac0deb.png)

[2019-07-18 15:11] borismatthews commented on #211
I have tried using various global palettes and ensured that I am using the same at design and run time but it makes no difference.

This was all fine when using a Windows 7 laptop for my development system so it seems to be something about the way that they are rendered in design time on Windows 10.

From: Simon Coghlan <notifications@github.com>
Sent: 18 July 2019 15:14
To: Wagnerp/Krypton-NET-5.

[2019-07-18 17:19] Smurf-IV opened #213 "A proper "Status strip rendered ProgressBar" please ?"
here is a starting point:
https://stackoverflow.com/questions/20584132/change-the-color-of-a-toolstripprogressbar-without-disabling-the-xp-visual-style

[2019-07-19 14:14] rahulmaxi commented on #209
Hi @Smurf-IV ,

Thanks for pointing out the version issue. I created another one with 4.7 but still no luck. I am still missing .dll files for it.
I can not use KryptonForm yet.
![image](https://user-images.githubusercontent.com/51871905/61541290-01c6d880-aa5d-11e9-874c-2bbdc0fbbf83.png)

![image](https://user-images.githubusercontent.com/51871905/61541336-14411200-aa5d-11e9-97e3-c29e2701be2a.png)

[2019-07-19 17:24] Wagnerp commented on #209
Hi @rahulmaxi

It looks as if you haven't put in `using ComponentFactory.Krypton.Toolkit;` yet.

[2019-07-20 03:52] rahulmaxi commented on #209
@Wagnerp ,
_using ComponentFactory.Krypton.Toolkit;_ goes unrecognized due to missing dll files. I am expecting dll files should be added in References as soon as package is installed from nuget package manager.

[2019-07-20 07:34] Wagnerp commented on #209
Yes they should all be in the References section. Do you have a folder named `packages`? Also, what version of Visual Studio are you using?

[2019-07-20 08:28] rahulmaxi commented on #209
I am using VS2013. I do find folder name packages with following.

![image](https://user-images.githubusercontent.com/51871905/61576319-510d1780-aaf6-11e9-9cc9-e096296d9eb9.png)

[2019-07-20 12:29] Wagnerp commented on #209
Hi @rahulmaxi

It seems to be a weird VS 2013 issue, all other VS versions seem to be ok.

[2019-07-21 04:56] rahulmaxi commented on #209
Hi @Wagnerp ,
Looks like but only with Krypton-NET-5.470. When I attempt to install Krypton-Toolkit-Suite-Extended-NET-5.470 via nuget it adds references automatically(though I did not use it in any form). When I installed log4net from nuget it also worked well adding references automatically.

[2019-07-21 07:06] Wagnerp commented on #209
Hi @rahulmaxi

I can upload the binaries to here if you want?

[2019-07-21 08:17] #207 closed

[2019-07-21 10:07] #212 closed

[2019-07-21 10:08] Smurf-IV commented on #212
It turns out that this "Control" should not have a visible menu when it is embedded in a `GroupBox`, as the GroupBox Context menu is used to override the menu visible with it !

[2019-07-21 10:34] #208 closed

[2019-07-22 14:06] fdncred commented on #201
Peter @Wagnerp, Do you have time to help me figure this scenario out?

[2019-07-22 15:37] Wagnerp commented on #201
Hi @fdncred

Is it possible to upload a test project, recreating this issue?

[2019-07-22 18:12] fdncred commented on #201
Thanks for responding @Wagnerp. I don't have an example I can share but perhaps we could use one of the Krypton Examples like "Standard Docking 2019".

In this example, if we focus on the "Input 5" page, it appears to be docked at the bottom.
![image](https://user-images.githubusercontent.com/343840/61654356-db35b700-ac81-11e9-8a3c-2f354673c2b2.png)

When I drag it to the top right docking window

[2019-07-22 19:00] Wagnerp commented on #201
Have you tried using the `DockingEdge` enumeration for a method which checks where the page is located?

[2019-07-22 19:09] fdncred commented on #201
@Wagnerp I'd love to. What method checks where the page is located?

[2019-07-22 19:26] fdncred commented on #201
I think I made a small discovery. The code above works sometimes when I dock on the edges. Sometimes it doesn't. Sometimes it works when I dock in the workspace. Sometimes it doesn't. I'm not sure what the magic is to detect where the page is docked exactly.